Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Update react in workspace catalog (#1785)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix mermaid module resolution in production builds
  docs/package.json
  packages/zudoku/src/vite/config.ts
  pnpm-lock.yaml
Due: biome

Fix mermaid module resolution in production builds (#1786)
  docs/package.json
  packages/zudoku/src/vite/config.ts
  pnpm-lock.yaml
Due: biome

chore(release): publish 0.66.2 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Added a schema download url with "latest" for version, which returns schema with latest version.
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

fix: Only add "latest" schema URL if the the latest schema has a version
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

fix: Check that versions are valid semver before comparing them. And only add a "latest" if latestSchema has a valid semver.
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

Add example that uses multi-part to cosmocargo
  examples/auth-firebase/zudoku.config.ts
  examples/auth-supabase/zudoku.config.ts
  examples/cosmo-cargo/schema/shipments.json
Due: biome

feat(auth): toggle username/password provider
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
Due: biome

Address feedback
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
Due: biome

Fix allow to disable Username + Password for Firebase (#1795)
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
Due: biome

fix
  .github/workflows/branch-prerelease.yaml
Due: prettier

fix (#1797)
  .github/workflows/branch-prerelease.yaml
Due: prettier

run on large
  .github/workflows/branch-prerelease.yaml
Due: prettier

run on large (#1799)
  .github/workflows/branch-prerelease.yaml
Due: prettier

not with api keys
  examples/with-auth0/zudoku.config.ts
Due: biome

fix issuer detection
  packages/zudoku/src/lib/auth/issuer.ts
Due: biome

fix types for config
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
Due: biome

fix redirect when login
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
Due: biome

fix example
  examples/api-key-service/src/MyApiKeyService.ts
Due: biome

enable password authentication in example
  examples/auth-firebase/zudoku.config.ts
Due: biome

get deployment name from linked env var
  packages/zudoku/package.json
  packages/zudoku/src/app/env.ts
  packages/zudoku/src/vite/plugin-api-keys.ts
  pnpm-lock.yaml
Due: biome

load env name
  packages/zudoku/package.json
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-api-keys.ts
  packages/zudoku/src/vite/zuplo.ts
  pnpm-lock.yaml
Due: biome

redirect after creating user
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
Due: biome

remove auth token
  .github/workflows/main.yaml
Due: prettier

remove auth token (#1800)
  .github/workflows/main.yaml
Due: prettier

remove auth token
  .github/workflows/build.yaml
Due: prettier

pull permissions up
  .github/workflows/main.yaml
Due: prettier

remove auth token (#1801)
  .github/workflows/build.yaml
  .github/workflows/main.yaml
Due: prettier

pnpm-10
  .github/workflows/main.yaml
Due: prettier

update
  .github/workflows/main.yaml
Due: prettier

pnpm-10 (#1802)
  .github/workflows/main.yaml
Due: prettier

dont specifiy
  .github/workflows/main.yaml
Due: prettier

dont specifiy (#1803)
  .github/workflows/main.yaml
Due: prettier

Various fixes on firebase plugin (#1796)
  examples/api-key-service/src/MyApiKeyService.ts
  examples/auth-firebase/zudoku.config.ts
  examples/with-auth0/zudoku.config.ts
  packages/zudoku/package.json
  packages/zudoku/src/app/env.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/auth/issuer.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-api-keys.ts
  packages/zudoku/src/vite/zuplo.ts
  pnpm-lock.yaml
Due: biome

refactor api key list
  packages/zudoku/src/lib/errors/ErrorMessage.tsx
  packages/zudoku/src/lib/plugins/api-keys/SettingsApiKeys.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/ApiKeyItem.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/ApiKeyList.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/RevealApiKey.tsx
Due: biome

add email verification
  packages/zudoku/src/lib/authentication/authentication.ts
  packages/zudoku/src/lib/authentication/hook.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
Due: biome

email verification
  packages/zudoku/src/lib/authentication/hook.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/EmailVerificationUi.tsx
Due: biome

better redirect
  packages/zudoku/src/lib/authentication/ui/EmailVerificationUi.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/authentication/utils/relativeRedirectUrl.ts
Due: biome

remove from environment
  packages/zudoku/src/app/env.ts
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css}
  prettier: any of: **/*.{md,mdx,yml,yaml,html}
