Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: 'npx prettier --write {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

eslint:
  run: 'npx eslint --cache --fix {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

fix navigation (#1365)
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
Due: prettier, eslint

Update clerk auth configuration needed
  docs/pages/configuration/authentication-clerk.md
Due: prettier

update
  docs/pages/configuration/authentication-clerk.md
Due: prettier

spelling fixes
  docs/pages/configuration/authentication-clerk.md
Due: prettier

Fix formattin
  docs/pages/configuration/authentication-clerk.md
Due: prettier

Update clerk auth configuration (#1366)
  docs/pages/configuration/authentication-clerk.md
Due: prettier

Add link checker to docs
  .github/workflows/build.yaml
  .gitignore
  docs/lychee.toml
  docs/package.json
  docs/pages/configuration/authentication-clerk.md
Due: prettier

update config
  .github/workflows/build.yaml
  docs/package.json
Due: prettier

update path
  .github/workflows/build.yaml
Due: none

fix path
  .github/workflows/build.yaml
Due: none

Add link checker to docs (#1367)
  .github/workflows/build.yaml
  .gitignore
  docs/lychee.toml
  docs/package.json
  docs/pages/configuration/authentication-clerk.md
Due: prettier

Moved files
  docs/pages/docs/components/callout.mdx
  docs/pages/docs/components/icons.mdx
  docs/pages/docs/components/playground.mdx
  docs/pages/docs/components/shadcn.mdx
  docs/pages/docs/components/slot.mdx
  docs/pages/docs/components/stepper.mdx
  docs/pages/docs/components/syntax-highlight.mdx
  docs/pages/docs/components/typography.mdx
Due: none

Updates
  docs/sidebar.tsx
  docs/src/Hello.svg
  docs/src/Home.tsx
  docs/src/LandingPage.tsx
  docs/zudoku.config.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/lib/plugins/custom-pages/index.tsx
Due: prettier, eslint

Fix links
  docs/pages/docs/components/playground.mdx
  docs/pages/docs/components/slot.mdx
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/configuration/site.md
  docs/pages/docs/configuration/slots.mdx
  docs/pages/docs/markdown/admonitions.md
  docs/pages/docs/writing.mdx
  docs/sidebar.tsx
  docs/zudoku.config.tsx
  packages/zudoku/src/vite/plugin-mdx.ts
Due: prettier, eslint

updates
  docs/pages/docs/customization/colors-theme.mdx
  docs/pages/docs/quickstart.md
  docs/sidebar.tsx
  docs/src/LandingPage.tsx
Due: prettier, eslint

Sitemap exclude status pages
  packages/zudoku/src/vite/sitemap.ts
Due: prettier, eslint

Fix more links
  docs/lychee.toml
  docs/pages/docs/components/shadcn.mdx
  docs/pages/docs/introduction-old.md
Due: prettier

More
  docs/public/dark-api.png
  docs/public/dark-portal.png
  docs/public/light-api.png
  docs/public/light-portal.png
  docs/public/preview/dark-api.svg
  docs/public/preview/dark-portal.svg
  docs/public/preview/light-api.svg
  docs/public/preview/light-portal.svg
  docs/src/LandingPage.css
  docs/src/LandingPage.tsx
  docs/src/components/AnimatedIcons.tsx
  docs/src/components/BentoInstall.tsx
  docs/src/components/Preview.tsx
  docs/src/components/StartCustomizing.tsx
  docs/src/components/Terminal.tsx
Due: prettier, eslint

Remove unused
  docs/src/DocusaurusDocsLicense.tsx
  docs/zudoku.config.tsx
Due: prettier, eslint

Theme editor fixes
  docs/src/ThemeEditor.tsx
  packages/zudoku/src/lib/ui/CodeBlock.tsx
Due: prettier, eslint

Landing page adjustments
  docs/src/LandingPage.tsx
  docs/src/components/Preview.tsx
  docs/src/components/Sparkles.tsx
  docs/src/components/StartCustomizing.tsx
  docs/zudoku.config.tsx
Due: prettier, eslint

Fix meta
  docs/src/LandingPage.tsx
  docs/zudoku.config.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/Layout.tsx
  packages/zudoku/src/lib/components/Meta.tsx
  packages/zudoku/src/lib/components/index.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
Due: prettier, eslint

Update Preview.tsx
  docs/src/components/Preview.tsx
Due: prettier, eslint

Update Preview.tsx (#1377)
  docs/src/components/Preview.tsx
Due: prettier, eslint

Some feedback
  docs/src/LandingPage.tsx
  docs/src/components/PoweredByYou.tsx
  docs/src/components/Preview.tsx
  website/src/app/components/TechStack.tsx
Due: prettier, eslint

copy copy copy
  docs/src/LandingPage.tsx
  docs/src/components/StartCustomizing.tsx
Due: prettier, eslint

Buttons
  docs/src/LandingPage.tsx
Due: prettier, eslint

Update docs/src/LandingPage.tsx
  docs/src/LandingPage.tsx
Due: prettier, eslint

daily random
  docs/src/components/Preview.tsx
Due: prettier, eslint

Work on Landingpage (#1378)
  docs/src/LandingPage.tsx
  docs/src/components/PoweredByYou.tsx
  docs/src/components/Preview.tsx
  docs/src/components/StartCustomizing.tsx
  website/src/app/components/TechStack.tsx
Due: prettier, eslint

Fix image urls base path
  packages/zudoku/src/vite/mdx/remark-normalize-image-url.ts
  packages/zudoku/src/vite/plugin-mdx.ts
Due: prettier, eslint

Move into separate files
  packages/zudoku/src/vite/mdx/remark-inject-filepath.ts
  packages/zudoku/src/vite/mdx/remark-link-rewrite.ts
  packages/zudoku/src/vite/mdx/remark-static-generation.ts
  packages/zudoku/src/vite/plugin-mdx.ts
Due: prettier, eslint

Check for base path
  packages/zudoku/src/vite/mdx/remark-link-rewrite.ts
  packages/zudoku/src/vite/mdx/remark-normalize-image-url.ts
Due: prettier, eslint

Set zuplo cookie on build check
  packages/zudoku/src/lib/components/BuildCheck.tsx
Due: prettier, eslint

Use effect
  packages/zudoku/src/lib/components/BuildCheck.tsx
Due: prettier, eslint

buildid check
  packages/zudoku/src/lib/components/BuildCheck.tsx
Due: prettier, eslint

Set zuplo cookie on build check (#1379)
  packages/zudoku/src/lib/components/BuildCheck.tsx
Due: prettier, eslint

chore(release): publish 0.55.2 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

Fix link to custom pages
  .vscode/settings.json
  docs/pages/docs/configuration/navigation.mdx
Due: prettier

Path conditions:
  prettier: any of: **/*.{ts,tsx,json,md,yml,js,jsx,css,html}
  eslint: any of: **/*.{ts,tsx,js,jsx,mjs}
