Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Add copy page button
  docs/zudoku.config.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/markdown/assets/ChatGPTLogo.tsx
  packages/zudoku/src/lib/plugins/markdown/assets/ClaudeLogo.tsx
  packages/zudoku/src/lib/plugins/markdown/index.tsx
Due: biome

Layout style fixes
  packages/zudoku/src/lib/components/Main.tsx
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/markdown/assets/ChatGPTLogo.tsx
Due: biome

More style fixes
  packages/zudoku/src/lib/components/Heading.tsx
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
Due: biome

Generate custom code examples
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

fix(openapi): implement proper server resolution hierarchy
  packages/zudoku/schema.graphql
  packages/zudoku/src/lib/oas/graphql/index.ts
  packages/zudoku/src/lib/oas/graphql/server-resolution.test.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/graphql/gql.ts
  packages/zudoku/src/lib/plugins/openapi/graphql/graphql.ts
Due: biome

fix(openapi): implement proper server resolution and manual selection
  examples/with-openapi-json/openapi.json
  packages/zudoku/schema.graphql
  packages/zudoku/src/lib/oas/graphql/index.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/graphql/gql.ts
  packages/zudoku/src/lib/plugins/openapi/graphql/graphql.ts
  packages/zudoku/src/lib/plugins/openapi/index.tsx
Due: biome

Run fix command
  examples/with-openapi-json/openapi.json
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/index.tsx
Due: biome

Prevent infinite re-renders by memoizing invalidateCache function
  packages/zudoku/src/lib/components/cache.ts
Due: biome

Revert `openapi.json`
  examples/with-openapi-json/openapi.json
Due: biome

Prevent infinite re-renders by memoizing invalidateCache function (#1660)
  packages/zudoku/src/lib/components/cache.ts
Due: biome

fix(openapi): implement proper server resolution hierarchy and fix "Other Endpoints" bug. (#1655)
  packages/zudoku/schema.graphql
  packages/zudoku/src/lib/oas/graphql/index.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/graphql/gql.ts
  packages/zudoku/src/lib/plugins/openapi/graphql/graphql.ts
  packages/zudoku/src/lib/plugins/openapi/index.tsx
Due: biome

Run `generate:types` script
  packages/zudoku/src/shiki/langs/hurl.js
  packages/zudoku/src/shiki/langs/kdl.js
  packages/zudoku/src/shiki/langs/pkl.js
  packages/zudoku/src/shiki/langs/rosmsg.js
Due: biome

Run `generate:types` script
  packages/zudoku/src/config/validators/icon-types.ts
Due: biome

Apply suggestions from code review
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/vite/plugin-llms.ts
Due: biome

Update packages/zudoku/src/vite/plugin-llms.ts
  packages/zudoku/src/vite/plugin-llms.ts
Due: biome

Add SSR support with server-side authentication
  docs/pages/docs/deploy/ssr.md
  packages/zudoku/package.json
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/config/validators/BuildSchema.ts
  packages/zudoku/src/lib/auth/jwt-validation.ts
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/plugin.ts
  packages/zudoku/src/vite/ssr-server-example.ts
  packages/zudoku/src/vite/ssr-server.ts
  pnpm-lock.yaml
Due: biome, prettier

Update ssr.md
  docs/pages/docs/deploy/ssr.md
Due: prettier

Consolidate and cleanup
  docs/zudoku.config.tsx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/vite/llms.ts
  packages/zudoku/src/vite/plugin-markdown-export.ts
  packages/zudoku/src/vite/plugin.ts
  packages/zudoku/src/vite/prerender/prerender.ts
Due: biome

Update docs
  docs/pages/docs/configuration/docs.md
  docs/pages/docs/configuration/llms.md
  docs/pages/docs/markdown/overview.md
Due: prettier

Add copy page button (#1638)
  docs/pages/docs/configuration/docs.md
  docs/pages/docs/configuration/llms.md
  docs/pages/docs/markdown/overview.md
  docs/zudoku.config.tsx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/Heading.tsx
  packages/zudoku/src/lib/components/Main.tsx
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/markdown/assets/ChatGPTLogo.tsx
  packages/zudoku/src/lib/plugins/markdown/assets/ClaudeLogo.tsx
  packages/zudoku/src/lib/plugins/markdown/index.tsx
  packages/zudoku/src/vite/llms.ts
  packages/zudoku/src/vite/plugin-llms.ts
  packages/zudoku/src/vite/plugin-markdown-export.ts
  packages/zudoku/src/vite/plugin.ts
  packages/zudoku/src/vite/prerender/prerender.ts
Due: biome, prettier

Update mermaid.md
  docs/pages/docs/markdown/mermaid.md
Due: prettier

feat(mermaid): add opt-in Mermaid diagram support for MDX files
  docs/pages/docs/markdown/mermaid.md
  docs/pages/docs/writing.mdx
  docs/sidebar.ts
  packages/zudoku/package.json
  packages/zudoku/src/lib/mermaid/MermaidInitializer.tsx
  packages/zudoku/src/lib/mermaid/index.ts
  packages/zudoku/src/lib/mermaid/rehype-mermaid-client.ts
  packages/zudoku/src/lib/mermaid/rehype-mermaid-server.ts
  packages/zudoku/src/lib/mermaid/types.d.ts
  packages/zudoku/src/lib/shiki.ts
  packages/zudoku/vite.config.ts
Due: biome, prettier

dont touch logout
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
Due: biome

wow
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
Due: biome

allow to disable login (#1613)
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
Due: biome

Fix dialog animation
  docs/src/ThemeEditor.tsx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/PlaygroundDialog.tsx
  packages/zudoku/src/lib/ui/Dialog.tsx
Due: biome

Fix dialog animation (#1670)
  docs/src/ThemeEditor.tsx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/PlaygroundDialog.tsx
  packages/zudoku/src/lib/ui/Dialog.tsx
Due: biome

chore(release): publish 0.63.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Remove `requireAuth` prop
  packages/zudoku/src/lib/plugins/openapi/index.tsx
Due: biome

Add `getAuthState` to Zudoku context
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/authentication/authentication.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
Due: biome

Add `OpenPlaygroundButton` to cosmo-cargo
  examples/cosmo-cargo/pages/shipping-process.mdx
Due: prettier

Fix Tailwind IntelliSense
  .vscode/settings.json
  packages/zudoku/package.json
  packages/zudoku/src/app/main.css
  pnpm-lock.yaml
Due: biome

Fix formatting
  examples/cosmo-cargo/pages/shipping-process.mdx
Due: prettier

Implimented supabase login with UI
  .cspell.json
  docs/pages/docs/configuration/authentication-supabase.md
  examples/supabase/package.json
  examples/supabase/zudoku.config.ts
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/authentication/authentication.ts
  packages/zudoku/src/lib/authentication/components/AuthErrorPage.tsx
  packages/zudoku/src/lib/authentication/components/OAuthErrorPage.tsx
  packages/zudoku/src/lib/authentication/components/SignIn.tsx
  packages/zudoku/src/lib/authentication/components/SignUp.tsx
  packages/zudoku/src/lib/authentication/hook.ts
  packages/zudoku/src/lib/authentication/providers/azureb2c.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/state.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  pnpm-lock.yaml
Due: biome, prettier

Fix SSR data corruption with large JSON payloads
  packages/zudoku/src/app/entry.server.tsx
Due: biome

Add production readiness plan for SSR implementation
  PLAN.md
Due: none

Update PLAN.md
  PLAN.md
Due: none

Delete packages/zudoku/src/vite/ssr-server-example.ts
  packages/zudoku/src/vite/ssr-server-example.ts
Due: biome

Added firebase auth provider
  .cspell.json
  docs/pages/docs/configuration/authentication-firebase.md
  examples/firebase/README.md
  examples/firebase/package.json
  examples/firebase/pages/documentation/installation.mdx
  examples/firebase/pages/documentation/introduction.mdx
  examples/firebase/public/logo-dark.svg
  examples/firebase/public/logo-light.svg
  examples/firebase/tsconfig.json
  examples/firebase/zudoku.config.ts
  examples/supabase/README.md
  packages/zudoku/package.json
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/vite.config.ts
  pnpm-lock.yaml
  spec.md
Due: biome, prettier

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css,html}
  prettier: any of: **/*.{md,mdx,yml,yaml}
