Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxfmt

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html}"
      run: pnpm biome lint --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    oxfmt:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html,md,mdx,yml,yaml}"
      run: pnpm fmt {staged_files}
      stage_fixed: true

feat(openapi): add one-click install deep links to MCP onboarding
  packages/zudoku/src/lib/plugins/openapi/MCPEndpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/mcp-configs.test.ts
  packages/zudoku/src/lib/plugins/openapi/mcp-configs.ts
Due: biome, oxfmt

fix(openapi): address MCP onboarding review feedback
  packages/zudoku/src/lib/plugins/openapi/MCPEndpoint.tsx
Due: biome, oxfmt

fix(icons): guard nullish icon, forward legacy props, harden name parsing
  packages/zudoku/src/lib/components/ZudokuIcon.test.tsx
  packages/zudoku/src/lib/components/ZudokuIcon.tsx
  packages/zudoku/src/lib/util/iconName.test.ts
  packages/zudoku/src/lib/util/iconName.ts
  packages/zudoku/src/vite/plugin-icons.test.ts
  packages/zudoku/src/vite/plugin-icons.ts
Due: biome, oxfmt

fix(monetization): sign requests based on live auth state to avoid post-logout pricing crash
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.test.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
Due: biome, oxfmt

ci: bump Node to 22.22.2 for npm@latest engine compatibility
  .tool-versions
Due: none

ci: bump Node to 22.22.2 for npm@latest engine compatibility (#2695)
  .tool-versions
Due: none

ci: pin npm to v11 instead of latest
  .github/workflows/main.yaml
  .github/workflows/release-monetization.yaml
Due: oxfmt

ci: speed up per-commit builds
  .github/workflows/build.yaml
  .github/workflows/preview-build.yaml
Due: oxfmt

ci: pin npm to v11 instead of latest (#2696)
  .github/workflows/main.yaml
  .github/workflows/release-monetization.yaml
Due: oxfmt

ci: build examples in a parallel job
  .github/workflows/build.yaml
Due: oxfmt

Add disableCodeSnippet option to hide sidecar code snippet
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, oxfmt

ci: start verdaccio after the first pnpm install
  .github/workflows/preview-build.yaml
Due: oxfmt

ci: revert Node to 22.22.0 (22.22.2 ships a broken npm)
  .tool-versions
Due: none

ci: skip release-age re-verification in second preview install
  .github/workflows/preview-build.yaml
Due: oxfmt

ci: revert Node to 22.22.0 (22.22.2 ships a broken npm) (#2699)
  .tool-versions
Due: none

ci: install zudoku via tarball URL instead of switching registries
  .github/workflows/preview-build.yaml
Due: oxfmt

fix(monetization): use replace when redirecting from /checkout without planId
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
Due: biome, oxfmt

test: cover entra issuer resolution, document response hook contract
  packages/zudoku/src/lib/auth/issuer.test.ts
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome, oxfmt

feat: add entra auth provider for Microsoft Entra ID multi-tenant support
  docs/pages/docs/configuration/authentication-azure-ad.md
  docs/pages/docs/configuration/authentication.md
  packages/zudoku/package.json
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/auth/issuer.ts
  packages/zudoku/src/lib/authentication/providers/entra.test.ts
  packages/zudoku/src/lib/authentication/providers/entra.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/util.ts
Due: biome, oxfmt

chore: remove redundant comments
  packages/zudoku/src/lib/authentication/providers/entra.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/util.ts
Due: biome, oxfmt

chore: trim descriptive comments, keep rationale only
  packages/zudoku/src/lib/authentication/providers/entra.test.ts
  packages/zudoku/src/lib/authentication/providers/entra.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome, oxfmt

ci: drop redundant playwright install-deps on cache hit
  .github/workflows/build.yaml
Due: oxfmt

fix(navigation): equalize sidebar row heights and round the collapse chevron
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
  packages/zudoku/src/lib/components/navigation/StackRows.tsx
Due: biome, oxfmt

fix(navigation): remove background from collapse chevron
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
Due: biome, oxfmt

Optimize CI/CD: add concurrency, parallelize examples build (#2697)
  .github/workflows/build.yaml
  .github/workflows/preview-build.yaml
Due: oxfmt

fix(navigation): consistent sidebar row heights (#2700)
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
  packages/zudoku/src/lib/components/navigation/StackRows.tsx
Due: biome, oxfmt

fix(monetization): pricing page crash after logout (#2694)
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.test.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
Due: biome, oxfmt

chore(release): publish 0.82.3 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome, oxfmt

feat(openapi): mirror guided step wording and deep-link the connector modal
  packages/zudoku/src/lib/plugins/openapi/MCPEndpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/mcp-configs.ts
Due: biome, oxfmt

fix: skip httpSnippetCode generation when code snippet is hidden
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
Due: biome, oxfmt

chore(release): @zuplo/zudoku-plugin-monetization v0.0.46 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome, oxfmt

feat(entra): fall back to preferred_username/upn for email, surface oid/tid
  packages/zudoku/src/lib/authentication/providers/entra.test.ts
  packages/zudoku/src/lib/authentication/providers/entra.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome, oxfmt

fix: rename option to disableRequestBox and add the option to the docs
  docs/pages/docs/configuration/api-reference.md
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, oxfmt

Redesign MCP endpoint setup UI with client selection and steps (#2687)
  packages/zudoku/src/lib/plugins/openapi/MCPEndpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/McpClientLogos.tsx
  packages/zudoku/src/lib/plugins/openapi/mcp-configs.test.ts
  packages/zudoku/src/lib/plugins/openapi/mcp-configs.ts
Due: biome, oxfmt

fix(monetization): render a 0 included quota as pay-as-you-go, never "0 / period"
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.test.ts
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.ts
Due: biome, oxfmt

docs(monetization): describe the metered fallback branch's actual condition
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.ts
Due: biome, oxfmt

fix(monetization): guide users to run `zuplo link` when deployment isn't linked
  packages/plugin-zuplo-monetization/src/deploymentName.test.ts
  packages/plugin-zuplo-monetization/src/deploymentName.ts
  packages/plugin-zuplo-monetization/src/hooks/useDeploymentName.ts
  packages/plugin-zuplo-monetization/src/queries.ts
Due: biome, oxfmt

fix(monetization): trim and reject whitespace-only deployment name
  packages/plugin-zuplo-monetization/src/deploymentName.test.ts
  packages/plugin-zuplo-monetization/src/deploymentName.ts
Due: biome, oxfmt

Extract deployment name resolution into reusable utility (#2711)
  packages/plugin-zuplo-monetization/src/deploymentName.test.ts
  packages/plugin-zuplo-monetization/src/deploymentName.ts
  packages/plugin-zuplo-monetization/src/hooks/useDeploymentName.ts
  packages/plugin-zuplo-monetization/src/queries.ts
Due: biome, oxfmt

feat: add Microsoft Entra ID auth provider (#2691)
  docs/pages/docs/configuration/authentication-azure-ad.md
  docs/pages/docs/configuration/authentication.md
  packages/zudoku/package.json
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/auth/issuer.test.ts
  packages/zudoku/src/lib/auth/issuer.ts
  packages/zudoku/src/lib/authentication/providers/entra.test.ts
  packages/zudoku/src/lib/authentication/providers/entra.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/util.ts
Due: biome, oxfmt
