Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix: skip `~endpoints` route when no untagged operations exist (#1994)
  packages/zudoku/src/lib/components/NotFoundPage.tsx
  packages/zudoku/src/lib/components/Typography.tsx
  packages/zudoku/src/lib/errors/RouterError.tsx
  packages/zudoku/src/lib/plugins/openapi/ApiHeader.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaList.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.test.tsx
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/IndexingDialog.tsx
  packages/zudoku/src/shiki/langs/odin.js
  packages/zudoku/src/shiki/langs/ron.js
  packages/zudoku/src/shiki/langs/surrealql.js
  packages/zudoku/src/shiki/themes/ayu-light.js
  packages/zudoku/src/shiki/themes/ayu-mirage.js
  packages/zudoku/src/shiki/themes/horizon.js
  packages/zudoku/src/shiki/themes/night-owl-light.js
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

fix
  packages/zudoku/src/app/env.ts
Due: biome

tests & fixes
  packages/plugin-zuplo-monetization/src/SubscriptionPaymentStatus.test.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/plugin-zuplo-monetization/vitest.setup.ts
Due: biome

fix(env): Add ZUDOKU_SERVER_URL to overwrite server URL (#1993)
  packages/zudoku/src/zuplo/with-zuplo-processors.ts
Due: biome

Browser tests
  package.json
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/MonetizationBrowser.test.tsx
  pnpm-lock.yaml
Due: biome

test: Add tests for pricing page and duration utils (#1991)
  .github/workflows/build.yaml
  .vscode/settings.json
  nx.json
  package.json
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/project.json
  packages/plugin-zuplo-monetization/src/SubscriptionPaymentStatus.test.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.test.tsx
  packages/plugin-zuplo-monetization/src/components/FeatureItem.test.tsx
  packages/plugin-zuplo-monetization/src/components/QuotaItem.test.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ManageSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/plugin-zuplo-monetization/src/utils/formatDuration.test.ts
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/plugin-zuplo-monetization/vitest.config.ts
  packages/plugin-zuplo-monetization/vitest.setup.ts
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/Heading.tsx
  packages/zudoku/src/lib/components/Zudoku.tsx
  packages/zudoku/src/lib/testing/index.tsx
  packages/zudoku/src/lib/util/problemJson.test.ts
  packages/zudoku/src/lib/util/problemJson.ts
  packages/zudoku/src/vite/config.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: biome, prettier

feat: Render JSX components in headings (ToC + nav sidebar)
  AGENT.md
  docs/pages/docs/components/badge.mdx
  examples/cosmo-cargo/pages/quantum-express.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/Toc.tsx
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/markdown/index.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaList.tsx
  packages/zudoku/src/lib/util/MdxComponents.tsx
  packages/zudoku/src/lib/util/hastToJsx.tsx
  packages/zudoku/src/vite/mdx/rehype-extract-toc-with-jsx-export.ts
  packages/zudoku/src/vite/mdx/rehype-extract-toc-with-jsx.ts
  packages/zudoku/src/vite/plugin-doc-metadata.ts
  packages/zudoku/src/vite/plugin-frontmatter.ts
  packages/zudoku/src/vite/plugin-mdx.ts
  packages/zudoku/src/vite/plugin.ts
Due: biome, prettier

Feedback
  examples/cosmo-cargo/pages/quantum-express.mdx
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/util/hastToJsx.tsx
  packages/zudoku/src/vite/mdx/rehype-extract-toc-with-jsx-export.ts
  packages/zudoku/src/vite/mdx/rehype-extract-toc-with-jsx.ts
Due: biome, prettier

Add docs and example
  docs/pages/docs/markdown/mdx.md
  examples/cosmo-cargo/pages/quantum-express.mdx
  examples/cosmo-cargo/zudoku.config.tsx
Due: biome, prettier

Fixes
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/navigation/utils.ts
  pnpm-lock.yaml
Due: biome

feat: Render JSX components in headings (ToC + nav sidebar) (#1929)
  AGENT.md
  docs/pages/docs/components/badge.mdx
  docs/pages/docs/markdown/mdx.md
  examples/cosmo-cargo/pages/quantum-express.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/Toc.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/markdown/index.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaList.tsx
  packages/zudoku/src/lib/util/MdxComponents.tsx
  packages/zudoku/src/lib/util/hastToJsx.tsx
  packages/zudoku/src/vite/mdx/rehype-extract-toc-with-jsx-export.ts
  packages/zudoku/src/vite/mdx/rehype-extract-toc-with-jsx.ts
  packages/zudoku/src/vite/plugin-doc-metadata.ts
  packages/zudoku/src/vite/plugin-frontmatter.ts
  packages/zudoku/src/vite/plugin-mdx.ts
  packages/zudoku/src/vite/plugin.ts
  pnpm-lock.yaml
Due: biome, prettier

fix: use OIDC auth for monetization plugin publish
  .github/workflows/release-monetization.yaml
Due: prettier

fix: use OIDC auth for monetization plugin publish (#1997)
  .github/workflows/release-monetization.yaml
Due: prettier

fix: use npm publish for OIDC trusted publishing (npm >= 11.5.1 required)
  .github/workflows/release-monetization.yaml
Due: prettier

fix: use npm publish for OIDC trusted publishing (npm >= 11.5.1 required) (#1998)
  .github/workflows/release-monetization.yaml
Due: prettier

fix: add repository field for npm provenance verification
  packages/plugin-zuplo-monetization/package.json
Due: biome

fix: add repository field for npm provenance verification (#1999)
  packages/plugin-zuplo-monetization/package.json
Due: biome

chore(release): @zuplo/zudoku-plugin-monetization v0.0.13 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome

Show `no cc required` if no payment is required
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
  packages/plugin-zuplo-monetization/src/types/PlanType.ts
Due: biome

Show `no cc required` if no payment is required (#2000)
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
  packages/plugin-zuplo-monetization/src/types/PlanType.ts
Due: biome

Pass user email to Stripe billing portal request
  packages/plugin-zuplo-monetization/src/pages/ManagePaymentPage.tsx
Due: biome

Pass user email to Stripe billing portal request (#2012)
  packages/plugin-zuplo-monetization/src/pages/ManagePaymentPage.tsx
Due: biome

feat: Add typed provider data to auth state
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
  packages/zudoku/src/lib/authentication/providers/azureb2c.tsx
  packages/zudoku/src/lib/authentication/providers/clerk.tsx
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/state.ts
  packages/zudoku/src/lib/plugins/api-catalog/index.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/get-results.tsx
Due: biome

feat: Add typed provider data to auth state
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
  packages/zudoku/src/lib/authentication/providers/azureb2c.tsx
  packages/zudoku/src/lib/authentication/providers/clerk.tsx
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/providers/openid.test.ts
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/state.ts
  packages/zudoku/src/lib/plugins/api-catalog/index.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/get-results.tsx
Due: biome

feat: Add typed provider data to auth state (#2016)
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
  packages/zudoku/src/lib/authentication/providers/azureb2c.tsx
  packages/zudoku/src/lib/authentication/providers/clerk.tsx
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/providers/openid.test.ts
  packages/zudoku/src/lib/authentication/providers/openid.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/state.ts
  packages/zudoku/src/lib/plugins/api-catalog/index.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/get-results.tsx
Due: biome

Support hard limits for metered entitlements
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.test.ts
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.ts
Due: biome

Add typecheck script and fix type errors
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/env.d.ts
  packages/plugin-zuplo-monetization/src/types/PlanType.ts
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/plugin-zuplo-monetization/vitest.setup.ts
Due: biome

Clamp progress bar value to 100%
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome

Stuff
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome

Both
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome

Keep `root` instead of `cwd`
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome

Support draft documents via frontmatter (#1773)
  docs/pages/docs/markdown/frontmatter.md
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/plugins/markdown/index.tsx
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome, prettier

Support hard limits for metered entitlements (#2018)
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/env.d.ts
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/plugin-zuplo-monetization/src/types/PlanType.ts
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.test.ts
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.ts
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/plugin-zuplo-monetization/vitest.setup.ts
Due: biome

Add Algolia DocSearch search plugin
  docs/pages/docs/configuration/search.md
  examples/search-algolia/package.json
  examples/search-algolia/pages/documentation/introduction.mdx
  examples/search-algolia/tsconfig.json
  examples/search-algolia/zudoku.config.ts
  packages/plugin-search-algolia/package.json
  packages/plugin-search-algolia/src/index.tsx
  packages/plugin-search-algolia/tsconfig.json
  packages/zudoku/src/lib/components/Search.tsx
  packages/zudoku/src/lib/core/plugins.ts
  pnpm-lock.yaml
Due: biome, prettier

Allow plugins to supply their own Vite config
  package.json
  packages/plugin-search-algolia/vite.config.ts
  packages/plugin-zuplo-monetization/vite.config.ts
  packages/zudoku/package.json
  packages/zudoku/src/config/create-plugin.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/index.ts
  packages/zudoku/src/vite/package-root.ts
  packages/zudoku/src/vite/plugin-theme.ts
  pnpm-lock.yaml
Due: biome

apply feedback
  examples/search-algolia/pages/documentation/introduction.mdx
  examples/search-algolia/tsconfig.json
  packages/zudoku/src/lib/components/Search.tsx
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/plugins/search-inkeep/index.tsx
  packages/zudoku/src/vite/package-root.ts
Due: biome, prettier

Add Algolia DocSearch search plugin (#1987)
  docs/pages/docs/configuration/search.md
  examples/search-algolia/package.json
  examples/search-algolia/pages/documentation/introduction.mdx
  examples/search-algolia/tsconfig.json
  examples/search-algolia/zudoku.config.ts
  package.json
  packages/plugin-search-algolia/package.json
  packages/plugin-search-algolia/src/index.tsx
  packages/plugin-search-algolia/tsconfig.json
  packages/plugin-search-algolia/vite.config.ts
  packages/plugin-zuplo-monetization/vite.config.ts
  packages/zudoku/package.json
  packages/zudoku/src/config/create-plugin.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/Search.tsx
  packages/zudoku/src/lib/plugins/search-inkeep/index.tsx
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/index.ts
  packages/zudoku/src/vite/package-root.ts
  packages/zudoku/src/vite/plugin-theme.ts
  pnpm-lock.yaml
Due: biome, prettier

feat(auth): improve openid provider compatibility
  packages/zudoku/src/lib/authentication/providers/openid.test.ts
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome

feat(auth): improve openid provider compatibility (#2019)
  packages/zudoku/src/lib/authentication/providers/openid.test.ts
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome

Package updates and cleanup
  examples/with-config/package.json
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/app/App.tsx
  packages/zudoku/src/config/validators/icon-types.ts
  packages/zudoku/src/lib/authentication/use-broadcast/LICENSE.md
  packages/zudoku/src/lib/authentication/use-broadcast/shared.ts
  packages/zudoku/src/lib/authentication/use-broadcast/useBroadcast.ts
  packages/zudoku/src/lib/components/Search.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/StaggeredRender.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/util/detectOS.ts
  packages/zudoku/src/lib/util/groupBy.ts
  packages/zudoku/src/lib/util/joinPath.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css}
  prettier: any of: **/*.{md,mdx,yml,yaml,html}
