Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxfmt

biome:
  run: pnpm biome lint --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

oxfmt:
  run: pnpm fmt {staged_files}
  stage_fixed: true

docs: address review feedback on MCP servers guide
  docs/pages/docs/guides/mcp-servers.md
Due: oxfmt

docs: add missing badge invert property and frontmatter cross-ref
  docs/pages/docs/configuration/navigation.mdx
Due: oxfmt

docs: improve MCP guide based on deep review
  docs/pages/docs/guides/mcp-servers.md
Due: oxfmt

Fix documentation inaccuracies, missing content, and outdated references across 13 docs files
  docs/pages/docs/configuration/api-catalog.md
  docs/pages/docs/configuration/api-reference.md
  docs/pages/docs/configuration/authentication.md
  docs/pages/docs/configuration/docs.md
  docs/pages/docs/configuration/footer.mdx
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/configuration/overview.md
  docs/pages/docs/configuration/site.md
  docs/pages/docs/custom-plugins.md
  docs/pages/docs/deploy/vercel.md
  docs/pages/docs/guides/using-multiple-apis.md
  docs/pages/docs/markdown/frontmatter.md
  docs/pages/docs/markdown/overview.md
Due: oxfmt

feat: Only deploy docs to production on release tags (#1917)
  docs/scripts/check-release-tag.sh
Due: none

docs: add guide for documenting MCP servers (#2250)
  docs/pages/docs/guides/mcp-servers.md
  docs/sidebar.ts
Due: biome, oxfmt

docs: improve navigation configuration documentation (#2249)
  docs/pages/docs/configuration/navigation.mdx
Due: oxfmt

chore(release): publish 0.73.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome, oxfmt

docs: fix API catalog path requirement and add layout CSS vars
  docs/pages/docs/configuration/api-catalog.md
  docs/pages/docs/customization/colors-theme.mdx
Due: oxfmt

Fix on save reformat issues
  .vscode/settings.json
Due: biome, oxfmt

Fix on save reformat issues (#2242)
  .vscode/settings.json
Due: biome, oxfmt

Update switch plan flow
  packages/plugin-zuplo-monetization/src/hooks/usePurchaseDetails.ts
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionChangeConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
  packages/plugin-zuplo-monetization/src/utils/purchaseDetails.ts
Due: biome, oxfmt

update tax/vat details
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionChangeConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/utils/purchaseDetails.ts
Due: biome, oxfmt

fix tests, lint issues & error message
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionChangeConfirmPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionChangeConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
  packages/plugin-zuplo-monetization/src/utils/purchaseDetails.ts
Due: biome, oxfmt

Update switch plan flow (#2252)
  packages/plugin-zuplo-monetization/src/hooks/usePurchaseDetails.ts
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionChangeConfirmPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionChangeConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
  packages/plugin-zuplo-monetization/src/utils/purchaseDetails.ts
Due: biome, oxfmt

chore(release): @zuplo/zudoku-plugin-monetization v0.0.28 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome, oxfmt

Sort subscriptions active-first so default selection picks the active one
  packages/plugin-zuplo-monetization/src/SubscriptionSelection.test.tsx
  packages/plugin-zuplo-monetization/src/hooks/useSubscriptions.ts
Due: biome, oxfmt

Show feature key instead of "Limit" when usage item is not matched
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome, oxfmt

Match current plan by key instead of id in SwitchPlanModal
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome, oxfmt

Split routes to share Layout and add skeleton fallbacks for CLS
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPageSkeleton.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPageSkeleton.tsx
Due: biome, oxfmt

fix: prevent flash to / during OAuth provider logout redirect
  packages/zudoku/src/lib/authentication/hook.ts
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
Due: biome, oxfmt

fix: defer auth state clearing until after IdP confirms logout
  packages/zudoku/src/lib/authentication/components/LogoutCallbackHandler.tsx
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome, oxfmt

Fix monetization plugin UX issues (#2254)
  packages/plugin-zuplo-monetization/src/SubscriptionSelection.test.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/hooks/useSubscriptions.ts
  packages/plugin-zuplo-monetization/src/pages/PricingPageSkeleton.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPageSkeleton.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome, oxfmt

Fix cross-category and cross-phase plan comparison in `SwitchPlanModal`
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome, oxfmt

lint
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome, oxfmt

feat: support robots metadata config
  packages/zudoku/src/config/validators/ZudokuConfig.test.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/components/Meta.tsx
  packages/zudoku/src/lib/core/ZudokuContext.ts
Due: biome, oxfmt

Address feedback
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome, oxfmt

feat: support robots metadata config (#2256)
  packages/zudoku/src/config/validators/ZudokuConfig.test.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/components/Meta.tsx
  packages/zudoku/src/lib/core/ZudokuContext.ts
Due: biome, oxfmt

chore(release): publish 0.73.1 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome, oxfmt

Fix cross-category and cross-phase plan comparison in `SwitchPlanModal` (#2255)
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome, oxfmt

Show helpful empty state when no pricing plans are returned
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
Due: biome, oxfmt

chore(release): @zuplo/zudoku-plugin-monetization v0.0.29 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome, oxfmt

Show helpful empty state when no pricing plans are returned (#2257)
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
Due: biome, oxfmt

Remove showPoweredBy section from site configuration docs
  docs/pages/docs/configuration/site.md
Due: oxfmt

Documentation updates: navigation types, config options, and API improvements (#2258)
  docs/pages/docs/configuration/api-catalog.md
  docs/pages/docs/configuration/api-reference.md
  docs/pages/docs/configuration/authentication.md
  docs/pages/docs/configuration/docs.md
  docs/pages/docs/configuration/footer.mdx
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/configuration/overview.md
  docs/pages/docs/configuration/site.md
  docs/pages/docs/custom-plugins.md
  docs/pages/docs/deploy/vercel.md
  docs/pages/docs/guides/using-multiple-apis.md
  docs/pages/docs/markdown/frontmatter.md
  docs/pages/docs/markdown/overview.md
Due: oxfmt

Add temporary npm publish monitor
  .github/npm-publish-monitor.json
  .github/workflows/publish-monitor.yaml
  scripts/check-npm-publishes.mjs
Due: biome, oxfmt

chore: replace zudoku deploy key with release app
  .github/workflows/main.yaml
  .github/workflows/release-monetization.yaml
Due: oxfmt

fix: read Cloudflare account id from repo vars
  .github/workflows/preview-build.yaml
Due: oxfmt

chore: use one-shot auth for release pushes
  .github/workflows/main.yaml
  .github/workflows/release-monetization.yaml
Due: oxfmt

Replace zudoku deploy key with release app token (#2267)
  .github/workflows/main.yaml
  .github/workflows/preview-build.yaml
  .github/workflows/release-monetization.yaml
Due: oxfmt

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css,html}
  oxfmt: any of: **/*.{ts,tsx,json,js,jsx,css,html,md,mdx,yml,yaml}
