Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Increase dependency security
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: prettier

Consolidate branch prerelease into main release workflow
  .github/workflows/branch-prerelease.yaml
  .github/workflows/main.yaml
Due: prettier

Address feedback
  .github/workflows/main.yaml
Due: prettier

Fixes
  .github/workflows/main.yaml
Due: prettier

Update React and increase dep security (#1828)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore(release): publish 0.66.4 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

feat: add HTML support in markdown tables via rehype-raw
  packages/zudoku/src/vite/plugin-mdx.ts
Due: biome

Improve React version resolution for monorepo setups
  packages/zudoku/src/cli/common/version-check.ts
Due: biome

Fix RangeError when prerendering specs with many `$refs`
  packages/zudoku/src/lib/oas/graphql/circular.ts
  packages/zudoku/src/lib/plugins/openapi/schema/utils.ts
Due: biome

Fix formatting
  packages/zudoku/src/lib/oas/graphql/circular.ts
Due: biome

Fix pagefind meta tag not rendering for protected routes during SSR (#1818)
  packages/zudoku/src/lib/core/RouteGuard.tsx
Due: biome

Fix OAuth callback handler reusing cached redirect URLs from previous flows (#1817)
  packages/zudoku/src/lib/authentication/components/CallbackHandler.tsx
Due: biome

Fix regex to correctly handle MDX links (#1809)
  packages/zudoku/src/vite/mdx/remark-link-rewrite.ts
Due: biome

Squashed commits for PR #1820
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
Due: biome

'.'
  packages/zudoku/src/lib/authentication/providers/clerk.tsx
Due: biome

.
  packages/zudoku/src/vite/prerender/utils.ts
Due: biome

Fix path composition to handle edge cases in routesToPaths
  packages/zudoku/src/vite/prerender/utils.ts
Due: biome

Allow overriding path on category link
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
Due: biome

Show error in runtime when not linked to Zuplo
  examples/with-zuplo/docs/.env.local
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/ApiKeyList.tsx
  packages/zudoku/src/lib/util/invariant.ts
  packages/zudoku/src/vite/plugin-api-keys.ts
Due: biome

Show error in runtime when not linked to Zuplo (#1851)
  examples/with-zuplo/docs/.env.local
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/ApiKeyList.tsx
  packages/zudoku/src/lib/util/invariant.ts
  packages/zudoku/src/vite/plugin-api-keys.ts
Due: biome

chore(release): publish 0.66.5 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Fix RangeError when prerendering specs with many `$refs` (#1833)
  packages/zudoku/src/lib/oas/graphql/circular.ts
  packages/zudoku/src/lib/plugins/openapi/schema/utils.ts
Due: biome

Enable Auth0 RP-initiated logout
  docs/pages/docs/configuration/authentication-auth0.md
  examples/api-key-service/src/MyApiKeyService.ts
  examples/with-auth0/zudoku.config.ts
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
Due: biome, prettier

Enable Auth0 RP-initiated logout (#1852)
  docs/pages/docs/configuration/authentication-auth0.md
  examples/api-key-service/src/MyApiKeyService.ts
  examples/with-auth0/zudoku.config.ts
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
Due: biome, prettier

feat: Using the existing getLatestSchema for deciding what the latest schema is for a given path (decided by the order in the .input array for an api), intead of comparing semver versions.
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

Consolidate branch prerelease into main release workflow (#1830)
  .github/workflows/branch-prerelease.yaml
  .github/workflows/main.yaml
Due: prettier

Update packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
Due: biome

Cursor: Apply local changes for cloud agent
  .claude/settings.local.json
  examples/with-zuplo/.env.zuplo
  examples/with-zuplo/docs/zudoku.config.tsx
Due: biome

feat: Add options to disable header, footer, and top navigation
  .claude/settings.local.json
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/Layout.tsx
  packages/zudoku/src/lib/plugins/custom-pages/index.tsx
  packages/zudoku/src/lib/plugins/markdown/index.tsx
Due: biome

feat: Add page layout options to disable header, footer, and nav
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/Layout.tsx
  packages/zudoku/src/lib/core/ZudokuContext.ts
Due: biome

Allow overriding path on category link (#1845)
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
Due: biome

Refactor path joining logic using joinUrl utility
  packages/zudoku/src/vite/prerender/utils.ts
Due: biome

Update utils.ts
  packages/zudoku/src/vite/prerender/utils.ts
Due: biome

Fix import path for joinUrl utility
  packages/zudoku/src/vite/prerender/utils.ts
Due: biome

fix: Removed unnecessary IIFE
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css}
  prettier: any of: **/*.{md,mdx,yml,yaml,html}
