Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "**/*.{ts,tsx,json,md,yml,js,jsx,css,html}"
      run: |
        npx prettier --write {staged_files}
        git add {staged_files}
      stage_fixed: true
    eslint:
      glob: "**/*.{ts,tsx,js,jsx,mjs}"
      run: |
        npx eslint --cache --fix {staged_files}
        git add {staged_files}
      stage_fixed: true

more lint fixes
  docs/package.json
  docs/pages/components/stepper.mdx
  docs/scripts/check-admonitions.mjs
  examples/cosmo-cargo/pages/shipping-process.mdx
  examples/with-zuplo/docs/pages/introduction.mdx
  package.json
  scripts/check-admonitions.mjs
Due: prettier, eslint

Formatting
  docs/pages/components/stepper.mdx
  examples/cosmo-cargo/pages/shipping-process.mdx
Due: none

fix formatting
  .gitignore
  docs/pages/components/stepper.mdx
Due: none

update authentication docs
  docs/pages/configuration/authentication-auth0.md
  docs/pages/configuration/authentication-azure-ad.md
  docs/pages/configuration/authentication-clerk.md
  docs/pages/configuration/authentication-firebase.md
  docs/pages/configuration/authentication-pingfederate.md
  docs/pages/configuration/authentication-supabase.md
  docs/pages/configuration/authentication.md
  docs/sidebar.ts
Due: prettier, eslint

update authentication docs (#1258)
  docs/pages/configuration/authentication-auth0.md
  docs/pages/configuration/authentication-azure-ad.md
  docs/pages/configuration/authentication-clerk.md
  docs/pages/configuration/authentication-firebase.md
  docs/pages/configuration/authentication-pingfederate.md
  docs/pages/configuration/authentication-supabase.md
  docs/pages/configuration/authentication.md
  docs/sidebar.ts
Due: prettier, eslint

chore(release): publish 0.54.1 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

Fix link in template and add redirect for renamed config option
  docs/zudoku.config.tsx
  packages/create-zudoku/templates/zuplo/pages/introduction.mdx
Due: prettier, eslint

Fix formatting
  packages/create-zudoku/templates/zuplo/pages/introduction.mdx
Due: none

Pass environment type to `BuildCheck`
  packages/zudoku/src/lib/components/BuildCheck.tsx
Due: prettier, eslint

Fix public env var replacement
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-config.ts
Due: prettier, eslint

Pass environment type to `BuildCheck` (#1356)
  packages/zudoku/src/lib/components/BuildCheck.tsx
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-config.ts
Due: prettier, eslint

Revert to file-based routing for docs (#1341)
  docs/pages/configuration/docs.md
  docs/sidebar.ts
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/app/main.css
  packages/zudoku/src/lib/shiki.ts
  packages/zudoku/src/lib/ui/CodeBlock.tsx
  packages/zudoku/src/vite/plugin-docs.ts
Due: prettier, eslint

Fix Windows path issue
  packages/zudoku/src/config/validators/NavigationSchema.ts
Due: prettier, eslint

Update introduction.mdx
  packages/create-zudoku/templates/zuplo/pages/introduction.mdx
Due: none

Fix Windows path issue (#1357)
  packages/zudoku/src/config/validators/NavigationSchema.ts
Due: prettier, eslint

Fix link in template and add redirect for renamed config option (#1355)
  docs/zudoku.config.tsx
  packages/create-zudoku/templates/zuplo/pages/introduction.mdx
Due: prettier, eslint

chore(release): publish 0.54.2 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

Pass environment type
  packages/zudoku/src/app/main.tsx
Due: prettier, eslint

Pass environment type (#1358)
  packages/zudoku/src/app/main.tsx
Due: prettier, eslint

chore(release): publish 0.54.3 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

pass auth into create key
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/api-keys/CreateApiKey.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
Due: prettier, eslint

pass auth into create key (#1360)
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/api-keys/CreateApiKey.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
Due: prettier, eslint

chore(release): publish 0.55.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

remove debug output
  packages/zudoku/src/lib/plugins/api-keys/SettingsApiKeys.tsx
Due: prettier, eslint

remove debug output (#1361)
  packages/zudoku/src/lib/plugins/api-keys/SettingsApiKeys.tsx
Due: prettier, eslint

Fix navigation category toggle hover color
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
Due: prettier, eslint

Introduction
  docs/pages/docs/introduction-old.md
  docs/public/authentication.svg
  docs/public/components.svg
  docs/public/grid.svg
  docs/public/quickstart.svg
  docs/public/themes.svg
  docs/sidebar.tsx
  docs/src/Introduction.tsx
  docs/src/ShadowCard.tsx
  docs/src/components/BoxLongshadow.tsx
  docs/tsconfig.json
Due: prettier, eslint

move background
  docs/src/components/Preview.tsx
Due: prettier, eslint

update pnpm
  package.json
  pnpm-lock.yaml
Due: none

remov banner
  docs/zudoku.config.tsx
Due: prettier, eslint

fix admonitions check
  scripts/check-admonitions.mjs
Due: eslint

remove debug ouput
  scripts/check-admonitions.mjs
Due: eslint

ok
  scripts/check-admonitions.mjs
Due: eslint

Fix navigation category toggle hover color (#1363)
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
Due: prettier, eslint

mobile
  docs/package.json
  docs/public/internal-tools.svg
  docs/src/FullPageTest.tsx
  docs/src/components/BentoAddOpenAPI.tsx
  docs/src/components/BentoInternalTools.tsx
  docs/src/components/BentoStaticSite.tsx
  docs/src/components/Preview.tsx
  docs/src/components/StartCustomizing.tsx
  docs/zudoku.config.tsx
  pnpm-lock.yaml
Due: prettier, eslint

Fix code block icons
  packages/zudoku/src/lib/ui/CodeBlock.tsx
Due: prettier, eslint

Fix code block icons (#1364)
  packages/zudoku/src/lib/ui/CodeBlock.tsx
Due: prettier, eslint

chore(release): publish 0.55.1 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

fix navigation
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
Due: prettier, eslint
