Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{md,mdx,yml,yaml,html}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Both
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome

Add confirmation dialog on upgrade / downgradew
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome

fix: link/custom-page without anchor is not highlighted
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
Due: biome

docs: add client-side only warning to protectedRoutes
  docs/pages/docs/configuration/protected-routes.md
Due: prettier

docs: add client-side only caveat to protectedRoutes (#1962)
  docs/pages/docs/configuration/protected-routes.md
Due: prettier

docs: add client-side only caveat to protectedRoutes
  docs/pages/docs/configuration/protected-routes.md
Due: prettier

docs: add client-side only caveat to protectedRoutes (#1963)
  docs/pages/docs/configuration/protected-routes.md
Due: prettier

disable api key plugin
  examples/zuplo-monetization/docs/zudoku.config.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/vite/plugin-api-keys.ts
Due: biome

Add confirmation dialog on upgrade / downgrade (#1961)
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome

disable api key plugin (#1964)
  examples/zuplo-monetization/docs/zudoku.config.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/vite/plugin-api-keys.ts
Due: biome

fix: use subscription name in manage view
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
Due: biome

feat: add error states to redirect pages
  packages/plugin-zuplo-monetization/src/components/RedirectPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/ManagePaymentPage.tsx
Due: biome

feat: add error states to redirect pages (#1965)
  packages/plugin-zuplo-monetization/src/components/RedirectPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/ManagePaymentPage.tsx
Due: biome

fix: use subscription name in manage view (#1966)
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
Due: biome

Show Error when rolling key fails
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/zudoku/src/lib/plugins/api-keys/SettingsApiKeys.tsx
Due: biome

chore: migrate to rolldown
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-metadata.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
  pnpm-lock.yaml
Due: biome

Erasable syntax only - for the future 🚀
  packages/zudoku/src/lib/authentication/errors.ts
  packages/zudoku/src/lib/plugins/openapi/client/GraphQLClient.tsx
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/tsconfig.app.json
  packages/zudoku/tsconfig.node.json
Due: biome

Adjust min versions
  docs/pages/docs/quickstart.md
  package.json
  packages/zudoku/cli.js
Due: biome, prettier

Update relevant packages
  packages/zudoku/package.json
  packages/zudoku/scripts/generate-types.ts
  pnpm-lock.yaml
Due: biome

Ensure the `pull_request_target` event only runs for external forks, not internal PRs
  .github/workflows/preview-build.yaml
Due: prettier

Don't run parallel
  packages/zudoku/src/vite/build.ts
  pnpm-lock.yaml
Due: biome

Update lock 🔓
  pnpm-lock.yaml
Due: none

parallel build
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/plugin-api.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
Due: biome

Fix warnings
  examples/with-vite-config/vite.config.ts
  packages/zudoku/package.json
  packages/zudoku/vite.config.ts
  packages/zudoku/vite.standalone.config.ts
  pnpm-lock.yaml
Due: biome

Update `vite@8`
  packages/zudoku/package.json
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

Updates
  packages/zudoku/package.json
  packages/zudoku/src/lib/authentication/errors.ts
  pnpm-lock.yaml
Due: biome

Revert OpenAPI default tag sorting
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.ts
Due: biome

Revert OpenAPI default tag sorting (#1968)
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.ts
Due: biome

Add navigation rules
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/guides/navigation-rules.mdx
  docs/public/docs/navigation-rules/insert-doc-end.png
  docs/public/docs/navigation-rules/insert-doc.png
  docs/public/docs/navigation-rules/modify-item.png
  docs/sidebar.ts
  examples/cosmo-cargo/pages/api-shipments/getting-started.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/NavigationWrapper.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/navigation/applyRules.test.ts
  packages/zudoku/src/lib/navigation/applyRules.ts
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/types.d.ts
  packages/zudoku/src/vite/plugin-navigation.ts
Due: biome, prettier

Address feedback
  docs/public/docs/navigation-rules/insert-doc-end.png
  docs/public/docs/navigation-rules/modify-item.png
  packages/zudoku/src/lib/navigation/applyRules.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
  packages/zudoku/src/vite/plugin-navigation.ts
Due: biome

Update example
  examples/cosmo-cargo/zudoku.config.tsx
Due: biome

Root level sorting
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/navigation/applyRules.test.ts
  packages/zudoku/src/lib/navigation/applyRules.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
Due: biome

Update lucide icons
  packages/zudoku/package.json
  packages/zudoku/src/config/validators/icon-types.ts
  pnpm-lock.yaml
Due: biome

Update docs
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/guides/navigation-rules.mdx
  docs/pages/docs/guides/navigation-rules/insert-doc-end.png
  docs/pages/docs/guides/navigation-rules/insert-doc.png
  docs/pages/docs/guides/navigation-rules/modify-item.png
  docs/public/docs/navigation-rules/insert-doc-end.png
  docs/public/docs/navigation-rules/modify-item.png
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
Due: biome, prettier

refactor: Convert Supabase Auth from library UI to custom components
  packages/zudoku/package.json
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/providers/supabase/SupabaseAuthUI.tsx
  pnpm-lock.yaml
Due: biome

fix: Handle SSR in getRelativeRedirectUrl to prevent window undefined error
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/authentication/utils/relativeRedirectUrl.ts
Due: biome

fix: Address Copilot feedback for Supabase auth
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
Due: biome

feat: Add api information page
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/schema.graphql
  packages/zudoku/src/lib/oas/graphql/index.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaInfo.tsx
  packages/zudoku/src/lib/plugins/openapi/graphql/gql.ts
  packages/zudoku/src/lib/plugins/openapi/graphql/graphql.ts
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
Due: biome

Apply feedback
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/navigation/applyRules.test.ts
  packages/zudoku/src/lib/navigation/applyRules.ts
Due: biome

Add navigation rules (#1949)
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/guides/navigation-rules.mdx
  docs/pages/docs/guides/navigation-rules/insert-doc-end.png
  docs/pages/docs/guides/navigation-rules/insert-doc.png
  docs/pages/docs/guides/navigation-rules/modify-item.png
  docs/sidebar.ts
  examples/cosmo-cargo/pages/api-shipments/getting-started.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/package.json
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/config/validators/icon-types.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/NavigationWrapper.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/navigation/applyRules.test.ts
  packages/zudoku/src/lib/navigation/applyRules.ts
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/types.d.ts
  packages/zudoku/src/vite/plugin-navigation.ts
  pnpm-lock.yaml
Due: biome, prettier
