Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxfmt

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html}"
      run: pnpm biome lint --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    oxfmt:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html,md,mdx,yml,yaml}"
      run: pnpm fmt {staged_files}
      stage_fixed: true

fix(plugin-graphql): fall back to plain introspection query for older GraphQL servers
  packages/plugin-graphql/package.json
  packages/plugin-graphql/vite-plugin.ts
  website/src/app/utils/cn.ts
Due: biome, oxfmt

fix(plugin-graphql): fall back to plain introspection query for older GraphQL servers (#2612)
  packages/plugin-graphql/package.json
  packages/plugin-graphql/vite-plugin.ts
  website/src/app/utils/cn.ts
Due: biome, oxfmt

fix: copy page button bottom half not clickable under heading overlap
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
Due: biome, oxfmt

fix: copy page button bottom half not clickable under heading overlap (#2613)
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
Due: biome, oxfmt

fix: prevent LazyMotion renderer crash from undefined motion features
  packages/zudoku/src/lib/components/navigation/NavigationFrames.tsx
  packages/zudoku/src/lib/components/navigation/motionFeatures.ts
Due: biome, oxfmt

refactor: drop {} fallback, rely on docs-aligned default export
  packages/zudoku/src/lib/components/navigation/NavigationFrames.tsx
Due: biome, oxfmt

fix: prevent LazyMotion renderer crash from undefined motion features (#2615)
  packages/zudoku/src/lib/components/navigation/motionFeatures.ts
Due: biome, oxfmt

fix: address pr review + integrate #2568 changesets agent doc
  .github/workflows/build.yaml
  .github/workflows/main.yaml
  .github/workflows/pkg-pr-new.yaml
  AGENTS.md
  packages/zudoku/cli.js
Due: biome, oxfmt

fix(cli): prefer dist when built, pre-build deps in vercel/ci
  .github/workflows/build.yaml
  docs/vercel.json
  examples/cosmo-cargo/vercel.json
  packages/zudoku/cli.js
Due: biome, oxfmt

fix(cli): always run from source in workspace dev so stale dist is never used
  packages/zudoku/cli.js
Due: biome, oxfmt

feat(ci): allow manual pkg.pr.new publish for any branch via workflow_dispatch
  .github/workflows/pkg-pr-new.yaml
Due: oxfmt

fix: memoize ZuploEnv.buildConfig per env value
  packages/zudoku/src/app/env.ts
Due: biome, oxfmt

fix(ci): drop [skip ci] from release commit so Version Packages PR gets checks
  .github/workflows/main.yaml
Due: oxfmt

fix: mark example and docs packages private so changeset publish skips them
  docs/package.json
  examples/api-identity-plugin/package.json
  examples/api-key-service/package.json
  examples/auth-firebase/package.json
  examples/auth-supabase/package.json
  examples/aws-lambda-ssr/package.json
  examples/cloudflare-ssr/package.json
  examples/cosmo-cargo/package.json
  examples/graphql/package.json
  examples/many-apis/package.json
  examples/mermaid/package.json
  examples/search-algolia/package.json
  examples/with-auth0/package.json
  examples/with-base-path/package.json
  examples/with-config/package.json
  examples/with-openapi-json/package.json
  examples/with-openapi-yaml/package.json
  examples/with-vite-config/package.json
Due: biome, oxfmt

chore(ci): include plugin-graphql in pkg.pr.new publishes
  .github/workflows/pkg-pr-new.yaml
Due: oxfmt

feat(ci): create tags/GitHub releases via script so create-zudoku stays invisible
  .github/scripts/create-github-releases.ts
  .github/workflows/main.yaml
  AGENTS.md
  package.json
Due: biome, oxfmt

fix: declare missing unified dep for remark/rehype plugins via packageExtensions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(prerender): run source-mode worker via Node type stripping, tsx can't load TS in worker threads
  AGENTS.md
  packages/zudoku/src/config/validators/ProtectedRoutesSchema.ts
  packages/zudoku/src/lib/authentication/state.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/core/transform-config.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/worker.ts
  packages/zudoku/tsconfig.app.json
Due: biome, oxfmt

fix(vercel): pin node 22 via engines instead of forcing dist with ZUDOKU_ENV
  docs/package.json
  docs/vercel.json
  examples/cosmo-cargo/package.json
  examples/cosmo-cargo/vercel.json
  packages/zudoku/cli.js
Due: biome, oxfmt

fix(ci): dist via ZUDOKU_ENV=module on vercel, allow .ts imports in plugin typechecks
  docs/vercel.json
  examples/cosmo-cargo/vercel.json
  packages/plugin-graphql/tsconfig.json
  packages/plugin-search-algolia/tsconfig.json
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/zudoku/cli.js
Due: biome, oxfmt

chore: regenerate lockfile for pnpm 11 after rebase onto main
  pnpm-lock.yaml
Due: none

fix(prerender): extend .ts worker-graph imports for validateConfig merged from main
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/config/validators/HeaderNavigationSchema.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/shiki.ts
  packages/zudoku/src/vite/plugin-theme.ts
Due: biome, oxfmt

ci: pin third-party actions to SHAs in release workflows
  .github/workflows/main.yaml
  .github/workflows/pkg-pr-new.yaml
Due: oxfmt

feat(ci): pick prerelease package via workflow_dispatch, surface pkg.pr.new output in summary
  .github/workflows/pkg-pr-new.yaml
  CONTRIBUTING.md
Due: oxfmt

fix(ci): install deps before verdaccio so they come from real registry; --no-git-checks for pnpm version on pnpm 11
  .github/workflows/preview-build.yaml
Due: oxfmt

perf(ci): split build into parallel jobs and cache Playwright browsers
  .github/workflows/build.yaml
Due: oxfmt

refactor(ci): pkg.pr.new via push + manual dispatch, run from lockfile
  .github/workflows/pkg-pr-new.yaml
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: oxfmt

ci: add aggregate Build & Test job to satisfy the required status check
  .github/workflows/build.yaml
Due: oxfmt

build: use tsgo for typechecking
  packages/plugin-graphql/package.json
  packages/plugin-zuplo-monetization/package.json
  packages/zudoku/package.json
  packages/zudoku/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, oxfmt

build: use tsgo for typechecking (#2622)
  packages/plugin-graphql/package.json
  packages/plugin-zuplo-monetization/package.json
  packages/zudoku/package.json
  packages/zudoku/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, oxfmt

fix: respect collapsible property on nav category row click
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
Due: biome, oxfmt

fix(cli): clean up child processes when dev server stops
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/pagefind-dev-index.ts
Due: biome, oxfmt

chore(release): publish 0.82.1 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome, oxfmt

fix: respect collapsible property on nav category row click (#2624)
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
Due: biome, oxfmt

fix(monetization): suffix per-phase prices with the phase's own cadence
  packages/plugin-zuplo-monetization/src/pages/components/PlanChangeCard.tsx
  packages/plugin-zuplo-monetization/src/pages/components/PlanSummaryCard.tsx
  packages/plugin-zuplo-monetization/src/pricing-ui/PlanEntitlements.tsx
  packages/plugin-zuplo-monetization/src/pricing-ui/PlanPriceSchedule.test.tsx
  packages/plugin-zuplo-monetization/src/pricing-ui/PlanPriceSchedule.tsx
  packages/plugin-zuplo-monetization/src/pricing-ui/PricingCard.tsx
  packages/plugin-zuplo-monetization/src/utils/getPlanPrice.test.ts
  packages/plugin-zuplo-monetization/src/utils/getPlanPrice.ts
  packages/plugin-zuplo-monetization/src/utils/getPlanPriceSchedule.test.ts
  packages/plugin-zuplo-monetization/src/utils/getPlanPriceSchedule.ts
Due: biome, oxfmt

feat(plugin-graphql): replace type/input with single schema field
  examples/graphql/zudoku.config.ts
  packages/create-zudoku/templates/zuplo/zudoku.config.tsx
  packages/plugin-graphql/package.json
  packages/plugin-graphql/src/index.tsx
  packages/plugin-graphql/src/interfaces.ts
  packages/plugin-graphql/vite-plugin.ts
Due: biome, oxfmt

feat(zudoku): add createPath helper for linking plugin mounts to navigation
  docs/pages/docs/configuration/api-catalog.md
  docs/pages/docs/configuration/api-reference.md
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/configuration/overview.md
  docs/pages/docs/custom-plugins.md
  docs/pages/docs/guides/mcp-servers.md
  docs/pages/docs/guides/using-multiple-apis.md
  examples/api-identity-plugin/zudoku.config.ts
  examples/api-key-service/zudoku.config.ts
  examples/auth-firebase/zudoku.config.ts
  examples/auth-supabase/zudoku.config.ts
  examples/aws-lambda-ssr/zudoku.config.ts
  examples/cloudflare-ssr/zudoku.config.ts
  examples/cosmo-cargo/zudoku.config.tsx
  examples/graphql/zudoku.config.ts
  examples/with-auth0/zudoku.config.tsx
  examples/with-base-path/zudoku.config.ts
  examples/with-config/zudoku.config.ts
  examples/with-openapi-json/zudoku.config.ts
  examples/with-openapi-yaml/zudoku.config.ts
  examples/with-vite-config/zudoku.config.ts
  examples/with-zuplo/docs/zudoku.config.tsx
  examples/zuplo-monetization/docs/zudoku.config.tsx
  packages/create-zudoku/templates/default/js/zudoku.config.jsx
  packages/create-zudoku/templates/default/ts/zudoku.config.tsx
  packages/create-zudoku/templates/zuplo/zudoku.config.tsx
  packages/zudoku/src/config/path.test.ts
  packages/zudoku/src/config/path.ts
  packages/zudoku/src/index.ts
Due: biome, oxfmt

feat(plugin-graphql): replace type/input with single schema field (#2629)
  examples/graphql/zudoku.config.ts
  packages/create-zudoku/templates/zuplo/zudoku.config.tsx
  packages/plugin-graphql/package.json
  packages/plugin-graphql/src/index.tsx
  packages/plugin-graphql/src/interfaces.ts
  packages/plugin-graphql/vite-plugin.ts
Due: biome, oxfmt

docs: add dedicated createPath reference page
  docs/pages/docs/configuration/create-path.md
  docs/sidebar.ts
Due: biome, oxfmt
