Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{md,mdx,yml,yaml,html}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

OpenAPI schema: Handle empty schema
  packages/zudoku/src/lib/plugins/openapi/ParamInfos.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
Due: biome

Add separator navigation item
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/navigation/Navigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
Due: biome

Add section item
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
Due: biome

Add navigation filtering
  docs/sidebar.ts
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/navigation/Navigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
  packages/zudoku/src/lib/components/navigation/NavigationFilterContext.tsx
  packages/zudoku/src/lib/components/navigation/NavigationFilterInput.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/ui/InputGroup.tsx
Due: biome

Fix cross-section link bug
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
Due: biome

Spread userInfo into profile object
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome

Fix Windows path issues
  examples/cosmo-cargo/pages/documentation.mdx
  examples/cosmo-cargo/pages/tracking.mdx
  packages/zudoku/src/lib/util/readFrontmatter.ts
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/mdx/remark-inject-filepath.ts
  packages/zudoku/src/vite/mdx/remark-link-rewrite.ts
  packages/zudoku/src/vite/plugin-docs.ts
  packages/zudoku/src/vite/plugin-markdown-export.ts
Due: biome, prettier

Fix Windows path issues (#1893)
  examples/cosmo-cargo/pages/documentation.mdx
  examples/cosmo-cargo/pages/tracking.mdx
  packages/zudoku/src/lib/util/readFrontmatter.ts
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/mdx/remark-inject-filepath.ts
  packages/zudoku/src/vite/mdx/remark-link-rewrite.ts
  packages/zudoku/src/vite/plugin-docs.ts
  packages/zudoku/src/vite/plugin-markdown-export.ts
Due: biome, prettier

security schemes as identity
  packages/zudoku/schema.graphql
  packages/zudoku/src/lib/components/context/IdentityContext.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/oas/graphql/index.ts
  packages/zudoku/src/lib/oas/parser/index.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/graphql/gql.ts
  packages/zudoku/src/lib/plugins/openapi/graphql/graphql.ts
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

Fix build warnings
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/index.ts
  packages/zudoku/src/lib/hooks/index.ts
  packages/zudoku/src/lib/oas/parser/index.ts
  packages/zudoku/src/lib/util/flattenAllOf.test.ts
  packages/zudoku/src/lib/util/flattenAllOf.ts
  packages/zudoku/src/lib/util/flattenAllOfProcessor.ts
  packages/zudoku/src/vite/api/SchemaManager.test.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

chore: migrate to rolldown
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-metadata.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
  pnpm-lock.yaml
Due: biome

Erasable syntax only - for the future 🚀
  packages/zudoku/src/lib/authentication/errors.ts
  packages/zudoku/src/lib/plugins/openapi/client/GraphQLClient.tsx
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/tsconfig.app.json
  packages/zudoku/tsconfig.node.json
Due: biome

Adjust min versions
  docs/pages/docs/quickstart.md
  package.json
  packages/zudoku/cli.js
Due: biome, prettier

Ensure the `pull_request_target` event only runs for external forks, not internal PRs
  .github/workflows/preview-build.yaml
Due: prettier

Update relevant packages
  packages/zudoku/package.json
  packages/zudoku/scripts/generate-types.ts
  pnpm-lock.yaml
Due: biome

parallel build
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/plugin-api.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
Due: biome

Update lock 🔓
  pnpm-lock.yaml
Due: none

Don't run parallel
  packages/zudoku/src/vite/build.ts
  pnpm-lock.yaml
Due: biome

Fix false circular ref detection for shared schema objects (#1887)
  packages/zudoku/src/lib/oas/graphql/circular.test.ts
  packages/zudoku/src/lib/oas/graphql/circular.ts
Due: biome

Update `vite@8`
  packages/zudoku/package.json
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

Fix build warnings (#1901)
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/index.ts
  packages/zudoku/src/lib/hooks/index.ts
  packages/zudoku/src/lib/oas/parser/index.ts
  packages/zudoku/src/lib/util/flattenAllOf.test.ts
  packages/zudoku/src/lib/util/flattenAllOf.ts
  packages/zudoku/src/lib/util/flattenAllOfProcessor.ts
  packages/zudoku/src/vite/api/SchemaManager.test.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

feat: Add audioplayer in playground
  examples/cosmo-cargo/public/welcome-aboard.mp3
  examples/cosmo-cargo/schema/ai-cargo.json
  packages/zudoku/src/lib/plugins/openapi/playground/fileUtils.ts
  packages/zudoku/src/lib/plugins/openapi/playground/result-panel/AudioPlayer.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/result-panel/ResponseTab.tsx
  packages/zudoku/src/vite/dev-server.ts
Due: biome

fix: serve MP3 from a public CDN
  examples/cosmo-cargo/public/welcome-aboard.mp3
  examples/cosmo-cargo/schema/ai-cargo.json
  packages/zudoku/src/vite/dev-server.ts
Due: biome

Add new navigation items: `filter`, `section` and `separator` (#1862)
  docs/sidebar.ts
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/Navigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
  packages/zudoku/src/lib/components/navigation/NavigationFilterContext.tsx
  packages/zudoku/src/lib/components/navigation/NavigationFilterInput.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/ui/InputGroup.tsx
Due: biome

feat: Add audioplayer in playground (#1902)
  examples/cosmo-cargo/schema/ai-cargo.json
  packages/zudoku/src/lib/plugins/openapi/playground/fileUtils.ts
  packages/zudoku/src/lib/plugins/openapi/playground/result-panel/AudioPlayer.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/result-panel/ResponseTab.tsx
Due: biome

feat: Add option to specify navigation display in frontmatter
  docs/pages/docs/markdown/frontmatter.md
  packages/zudoku/src/config/validators/NavigationSchema.ts
Due: biome, prettier

Add `at` property for positioning navigation items
  docs/pages/docs/configuration/navigation.mdx
  examples/cosmo-cargo/pages/api-shipments/getting-started.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/NavigationWrapper.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
  packages/zudoku/src/lib/navigation/positionItems.test.ts
  packages/zudoku/src/lib/navigation/positionItems.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
Due: biome, prettier

Apply feedback
  docs/pages/docs/configuration/navigation.mdx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
Due: biome, prettier

feat: Add option to specify navigation display in frontmatter (#1903)
  docs/pages/docs/markdown/frontmatter.md
  packages/zudoku/src/config/validators/NavigationSchema.ts
Due: biome, prettier

don't return items if label doesn't match
  packages/zudoku/src/lib/navigation/positionItems.ts
Due: biome

move plugin
  packages/zudoku-plugin-monetization/ZuploMonetizationPlugin.tsx
  packages/zudoku-plugin-monetization/ZuploMonetizationWrapper.tsx
  packages/zudoku-plugin-monetization/components/FeatureItem.tsx
  packages/zudoku-plugin-monetization/components/QuotaItem.tsx
  packages/zudoku-plugin-monetization/hooks/usePlans.ts
  packages/zudoku-plugin-monetization/hooks/useSubscriptions.ts
  packages/zudoku-plugin-monetization/hooks/useUrlUtils.ts
  packages/zudoku-plugin-monetization/package.json
  packages/zudoku-plugin-monetization/pages/CheckoutConfimPage.tsx
  packages/zudoku-plugin-monetization/pages/CheckoutFailedPage.tsx
  packages/zudoku-plugin-monetization/pages/CheckoutPage.tsx
  packages/zudoku-plugin-monetization/pages/PricingPage.tsx
  packages/zudoku-plugin-monetization/pages/SubscriptionsPage.tsx
  packages/zudoku-plugin-monetization/pages/subscriptions/ApiKey.tsx
  packages/zudoku-plugin-monetization/pages/subscriptions/ApiKeysList.tsx
  packages/zudoku-plugin-monetization/pages/subscriptions/SubscriptionsList.tsx
  packages/zudoku-plugin-monetization/pages/subscriptions/Usage.tsx
  packages/zudoku-plugin-monetization/types/PlanType.ts
  packages/zudoku-plugin-monetization/utils/categorizeRateCards.ts
  packages/zudoku-plugin-monetization/utils/formatDuration.ts
  packages/zudoku-plugin-monetization/utils/getPriceFromPlan.ts
Due: biome

bootstrapping
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/project.json
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/plugin-zuplo-monetization/src/components/FeatureItem.tsx
  packages/plugin-zuplo-monetization/src/components/QuotaItem.tsx
  packages/plugin-zuplo-monetization/src/hooks/usePlans.ts
  packages/plugin-zuplo-monetization/src/hooks/useSubscriptions.ts
  packages/plugin-zuplo-monetization/src/hooks/useUrlUtils.ts
  packages/plugin-zuplo-monetization/src/index.ts
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfimPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutFailedPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKey.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SubscriptionsList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/plugin-zuplo-monetization/src/types/PlanType.ts
  packages/plugin-zuplo-monetization/src/utils/categorizeRateCards.ts
  packages/plugin-zuplo-monetization/src/utils/formatDuration.ts
  packages/plugin-zuplo-monetization/src/utils/getPriceFromPlan.ts
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/zudoku-plugin-monetization/package.json
  packages/zudoku/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

add example
  examples/zuplo-monetization/config/policies.json
  examples/zuplo-monetization/config/routes.oas.json
  examples/zuplo-monetization/docs/.env.local
  examples/zuplo-monetization/docs/.gitignore
  examples/zuplo-monetization/docs/env.example
  examples/zuplo-monetization/docs/package.json
  examples/zuplo-monetization/docs/pages/banner-dark.svg
  examples/zuplo-monetization/docs/pages/banner.svg
  examples/zuplo-monetization/docs/pages/introduction.mdx
  examples/zuplo-monetization/docs/project.json
  examples/zuplo-monetization/docs/public/logo-dark.svg
  examples/zuplo-monetization/docs/public/logo-light.svg
  examples/zuplo-monetization/docs/tsconfig.json
  examples/zuplo-monetization/docs/zudoku.config.tsx
Due: biome, prettier

More setup
  examples/zuplo-monetization/docs/package.json
  examples/zuplo-monetization/docs/project.json
  examples/zuplo-monetization/docs/zudoku.config.tsx
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/zudoku/package.json
  pnpm-lock.yaml
Due: biome

fixes
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKey.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
Due: biome

UI updates & fixes
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfimPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeyInfo.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
Due: biome

adjust config
  examples/zuplo-monetization/docs/zudoku.config.tsx
Due: biome

Don't use SyntaxHiglight in error boundary component. Context might not be available
  packages/zudoku/src/lib/errors/ErrorAlert.tsx
Due: biome

Delete & Roll Keys
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfimPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKey.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/zudoku/src/lib/ui/Secret.tsx
Due: biome

add suspsense
  packages/zudoku/src/lib/components/Bootstrap.tsx
  packages/zudoku/src/lib/components/Zudoku.tsx
Due: biome
