Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Add component to filter content for opensource/zuplo specific docs (#1733)
  docs/pages/docs/markdown/frontmatter.md
  docs/src/components/ConditionalContent.tsx
  docs/zudoku.config.tsx
Due: biome, prettier

Filter mode specific content
  docs/package.json
  docs/pages/docs/markdown/frontmatter.md
  docs/src/components/ConditionalContent.tsx
  docs/src/remark-if.ts
  docs/zudoku.build.ts
  docs/zudoku.config.tsx
  pnpm-lock.yaml
Due: biome, prettier

Filter mode specific content (#1734)
  docs/package.json
  docs/pages/docs/markdown/frontmatter.md
  docs/src/components/ConditionalContent.tsx
  docs/src/remark-if.ts
  docs/zudoku.build.ts
  docs/zudoku.config.tsx
  pnpm-lock.yaml
Due: biome, prettier

Update packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
Due: biome

Externalize mermaid
  examples/mermaid/zudoku.config.tsx
  packages/zudoku/src/lib/components/Mermaid.tsx
  packages/zudoku/src/vite/config.ts
Due: biome

Design improvement style fixes (#1729)
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
Due: biome

Replace default `js-yaml` engine in `gray-matter` (#1727)
  package.json
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/util/readFrontmatter.ts
  packages/zudoku/src/vite/plugin-frontmatter.ts
  packages/zudoku/src/vite/plugin-markdown-export.ts
  pnpm-lock.yaml
Due: biome

chore(release): publish 0.65.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Added a new route .../spec which serves source OpenAPI specification. Also added a "API Specification" button which opens route in a tab.
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/specification.ts
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
  packages/zudoku/src/lib/plugins/openapi/util/specRoute.ts
Due: biome

fix rouge package lock
  package.json
  patches/decode-named-character-reference.patch
  patches/decode-named-character-reference@1.0.2.patch
  pnpm-lock.yaml
Due: none

fix other version
  package.json
  patches/decode-named-character-reference@1.0.2.patch
  pnpm-lock.yaml
Due: none

fix versions
  package.json
  patches/decode-named-character-reference@1.2.0.patch
  pnpm-lock.yaml
Due: none

fix rogue package (#1740)
  package.json
  patches/decode-named-character-reference@1.0.2.patch
  patches/decode-named-character-reference@1.2.0.patch
  pnpm-lock.yaml
Due: none

chore(release): publish 0.65.1 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

fix: Playground sets undefined body for "GET" and "HEAD"
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

Fixed typing issues.
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/specRoute.ts
Due: biome

add handler to generate config to avoid error, generate basic examples for routes without examples
  packages/zudoku/src/cli/cmds/generate.ts
  packages/zudoku/src/cli/handlers/generate-examples.ts
Due: biome

Fix Playground empty string
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

Use or
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

Fix Playground empty string (#1745)
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

chore(release): publish 0.65.2 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Fix parameter list separator
  packages/zudoku/src/lib/plugins/openapi/ParameterList.tsx
Due: biome

Same title
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
Due: biome

Restore generated response examples
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
Due: biome

Simplify
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
Due: biome

Fix style issues and bring generated response examples back (#1746)
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterList.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
Due: biome

fix: Playground sets undefined body for "GET" and "HEAD" (#1743)
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

chore(release): publish 0.65.3 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Recommend using file type for OpenAPI schemas
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Add client-side Mermaid component (#1730)
  .github/workflows/build.yaml
  docs/package.json
  docs/pages/docs/components/mermaid.mdx
  docs/pages/docs/guides/mermaid.mdx
  docs/sidebar.ts
  examples/mermaid/package.json
  examples/mermaid/pages/build-time.mdx
  examples/mermaid/pages/client-side.mdx
  examples/mermaid/pages/index.mdx
  examples/mermaid/pages/mermaid.mdx
  examples/mermaid/zudoku.config.tsx
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/Mermaid.tsx
  packages/zudoku/src/lib/util/MdxComponents.tsx
  packages/zudoku/src/vite/config.ts
  packages/zudoku/vite.config.ts
  pnpm-lock.yaml
Due: biome, prettier

Default
  packages/zudoku/scripts/generate-types.ts
  pnpm-lock.yaml
Due: biome

Show array type indicator for top-level array responses
  examples/cosmo-cargo/schema/interplanetary.json
  packages/zudoku/src/lib/oas/parser/index.ts
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/utils.ts
Due: biome

Add schema download
  docs/pages/docs/configuration/api-reference.md
  examples/cosmo-cargo/zudoku.config.tsx
  examples/with-config/zudoku.config.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/Zudoku.tsx
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/plugins/openapi/DownloadSchemaButton.tsx
  packages/zudoku/src/lib/plugins/openapi/Endpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/OasProvider.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
  packages/zudoku/src/lib/ui/Button.tsx
  packages/zudoku/src/lib/ui/ButtonGroup.tsx
  packages/zudoku/src/lib/ui/DropdownMenu.tsx
  packages/zudoku/src/vite/api/SchemaManager.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, prettier

Apply feedback
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

Fixes, adjust example and button style
  examples/cosmo-cargo/schema/cargo-containers.json
  examples/with-config/zudoku.config.ts
  packages/zudoku/src/lib/plugins/openapi/DownloadSchemaButton.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/ui/Button.tsx
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

Adjust docs
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Fix many-apis example
  .github/workflows/build.yaml
  examples/many-apis/download.js
  examples/many-apis/package.json
  examples/many-apis/zudoku.config.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, prettier

Add schema download (#1747)
  .github/workflows/build.yaml
  docs/pages/docs/configuration/api-reference.md
  examples/cosmo-cargo/schema/cargo-containers.json
  examples/cosmo-cargo/zudoku.config.tsx
  examples/many-apis/download.js
  examples/many-apis/package.json
  examples/many-apis/zudoku.config.ts
  examples/with-config/zudoku.config.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/Zudoku.tsx
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/plugins/openapi/DownloadSchemaButton.tsx
  packages/zudoku/src/lib/plugins/openapi/Endpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/OasProvider.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
  packages/zudoku/src/lib/ui/Button.tsx
  packages/zudoku/src/lib/ui/ButtonGroup.tsx
  packages/zudoku/src/lib/ui/DropdownMenu.tsx
  packages/zudoku/src/vite/api/SchemaManager.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, prettier

Recommend using file type for OpenAPI schemas (#1748)
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Enable Pagefind indexing in dev
  packages/zudoku/package.json
  packages/zudoku/src/lib/core/RouteGuard.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/IndexingDialog.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/PagefindSearch.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/ResultList.tsx
  packages/zudoku/src/lib/ui/Command.tsx
  packages/zudoku/src/lib/ui/Kbd.tsx
  packages/zudoku/src/vite/create-pagefind-index.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/pagefind-dev-index.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/utils.ts
  pnpm-lock.yaml
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css}
  prettier: any of: **/*.{md,mdx,yml,yaml,html}
