Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxfmt

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html}"
      run: pnpm biome lint --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    oxfmt:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html,md,mdx,yml,yaml}"
      run: pnpm fmt {staged_files}
      stage_fixed: true

feat(ci): allow manual pkg.pr.new publish for any branch via workflow_dispatch
  .github/workflows/pkg-pr-new.yaml
Due: oxfmt

fix: declare missing unified dep for remark/rehype plugins via packageExtensions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(ci): include plugin-graphql in pkg.pr.new publishes
  .github/workflows/pkg-pr-new.yaml
Due: oxfmt

fix(prerender): run source-mode worker via Node type stripping, tsx can't load TS in worker threads
  AGENTS.md
  packages/zudoku/src/config/validators/ProtectedRoutesSchema.ts
  packages/zudoku/src/lib/authentication/state.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/core/transform-config.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/worker.ts
  packages/zudoku/tsconfig.app.json
Due: biome, oxfmt

fix(ci): dist via ZUDOKU_ENV=module on vercel, allow .ts imports in plugin typechecks
  docs/vercel.json
  examples/cosmo-cargo/vercel.json
  packages/plugin-graphql/tsconfig.json
  packages/plugin-search-algolia/tsconfig.json
  packages/plugin-zuplo-monetization/tsconfig.json
  packages/zudoku/cli.js
Due: biome, oxfmt

fix(vercel): pin node 22 via engines instead of forcing dist with ZUDOKU_ENV
  docs/package.json
  docs/vercel.json
  examples/cosmo-cargo/package.json
  examples/cosmo-cargo/vercel.json
  packages/zudoku/cli.js
Due: biome, oxfmt

chore: regenerate lockfile for pnpm 11 after rebase onto main
  pnpm-lock.yaml
Due: none

fix(prerender): extend .ts worker-graph imports for validateConfig merged from main
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/config/plugin-versions.ts
  packages/zudoku/src/config/validators/HeaderNavigationSchema.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/shiki.ts
  packages/zudoku/src/vite/package-root.ts
  packages/zudoku/src/vite/plugin-theme.ts
Due: biome, oxfmt

feat(ci): pick prerelease package via workflow_dispatch, surface pkg.pr.new output in summary
  .github/workflows/pkg-pr-new.yaml
  CONTRIBUTING.md
Due: oxfmt

fix(ci): install deps before verdaccio so they come from real registry; --no-git-checks for pnpm version on pnpm 11
  .github/workflows/preview-build.yaml
Due: oxfmt

ci: pin third-party actions to SHAs in release workflows
  .github/workflows/main.yaml
  .github/workflows/pkg-pr-new.yaml
Due: oxfmt

perf(ci): split build into parallel jobs and cache Playwright browsers
  .github/workflows/build.yaml
Due: oxfmt

refactor(ci): pkg.pr.new via push + manual dispatch, run from lockfile
  .github/workflows/pkg-pr-new.yaml
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: oxfmt

fix(ci): surface tsx/release errors, narrow release-job perms
  .github/scripts/create-github-releases.ts
  .github/workflows/main.yaml
  packages/zudoku/cli.js
Due: biome, oxfmt

docs(cli): explain why .gitignore signals workspace, drop narration
  packages/zudoku/cli.js
Due: biome, oxfmt

ci: add aggregate Build & Test job to satisfy the required status check
  .github/workflows/build.yaml
Due: oxfmt

fix(monetization): add @types/node so typecheck resolves node types, not hoisted v12
  packages/plugin-zuplo-monetization/package.json
  pnpm-lock.yaml
Due: biome, oxfmt

fixup! chore: regenerate lockfile for pnpm 11 after rebase onto main
  pnpm-lock.yaml
Due: none

feat(cosmo-cargo): add the AI plugin to the example
  examples/cosmo-cargo/package.json
  examples/cosmo-cargo/zudoku.config.tsx
  pnpm-lock.yaml
Due: biome, oxfmt

feat(plugin-ai): default the chat endpoint to the production agent-z deployment
  examples/cosmo-cargo/zudoku.config.tsx
  packages/plugin-ai/src/index.test.tsx
  packages/plugin-ai/src/types.ts
Due: biome, oxfmt

fix(plugin-ai): target the Zudoku AI agent chatRoute and send zudokuUrl
  packages/plugin-ai/src/AskAiChat.tsx
  packages/plugin-ai/src/index.test.tsx
  packages/plugin-ai/src/types.ts
Due: biome, oxfmt

fix(search): index protected routes in SSG Pagefind build
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/app/wrapProtectedRoutes.test.ts
  packages/zudoku/src/app/wrapProtectedRoutes.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/utils.test.ts
  packages/zudoku/src/vite/prerender/utils.ts
  packages/zudoku/src/vite/prerender/worker.ts
  packages/zudoku/src/vite/sitemap.test.ts
Due: biome, oxfmt

chore(search): warn when routes are excluded from the search index
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/utils.test.ts
  packages/zudoku/src/vite/prerender/utils.ts
Due: biome, oxfmt

fix(search): index protected routes in SSG Pagefind build (#2673)
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/app/wrapProtectedRoutes.test.ts
  packages/zudoku/src/app/wrapProtectedRoutes.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/utils.test.ts
  packages/zudoku/src/vite/prerender/utils.ts
  packages/zudoku/src/vite/prerender/worker.ts
  packages/zudoku/src/vite/sitemap.test.ts
Due: biome, oxfmt

Update packages/create-zudoku/templates/zuplo/zudoku.config.tsx
  packages/create-zudoku/templates/zuplo/zudoku.config.tsx
Due: biome, oxfmt

chore(create-zudoku): refresh plugin comments in zuplo template (#2640)
  packages/create-zudoku/templates/zuplo/zudoku.config.tsx
Due: biome, oxfmt

build(deps): add iconify packages and phosphor set for cosmo-cargo
  examples/cosmo-cargo/package.json
  packages/zudoku/package.json
Due: biome, oxfmt

refactor(navigation): render navigation and header icons as strings
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/HeaderNavigation.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationCategory.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/StackRows.tsx
  packages/zudoku/src/vite/plugin-navigation.ts
Due: biome, oxfmt

feat(icons): string icon schema, runtimeFetch config, and types
  packages/zudoku/scripts/generate-types.ts
  packages/zudoku/src/config/validators/HeaderNavigationSchema.ts
  packages/zudoku/src/config/validators/IconSchema.ts
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/config/validators/icon-types.ts
  packages/zudoku/src/lib/core/plugins.ts
Due: biome, oxfmt

feat(icons): iconify-based icon engine with per-icon virtual modules
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/lib/components/ZudokuIcon.tsx
  packages/zudoku/src/lib/icons.ts
  packages/zudoku/src/lib/util/iconName.ts
  packages/zudoku/src/vite/icon-registry.ts
  packages/zudoku/src/vite/plugin-icons.ts
  packages/zudoku/src/vite/plugin.ts
Due: biome, oxfmt

docs(icons): document the icon system and showcase phosphor icons
  docs/package.json
  docs/pages/docs/components/alert.mdx
  docs/pages/docs/components/badge.mdx
  docs/pages/docs/components/callout.mdx
  docs/pages/docs/components/card.mdx
  docs/pages/docs/components/code-tabs.mdx
  docs/pages/docs/components/icons.mdx
  docs/pages/docs/components/markdown.mdx
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/custom-plugins.md
  docs/pages/docs/markdown/frontmatter.md
  docs/zudoku.config.tsx
  examples/cosmo-cargo/pages/documentation.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  pnpm-lock.yaml
Due: biome, oxfmt

test(icons): cover icon name parsing, schema, scan, registry, and rendering
  packages/zudoku/src/config/validators/IconSchema.test.ts
  packages/zudoku/src/lib/components/ZudokuIcon.test.tsx
  packages/zudoku/src/lib/util/iconName.test.ts
  packages/zudoku/src/vite/icon-registry.test.ts
  packages/zudoku/src/vite/plugin-icons.test.ts
Due: biome, oxfmt

fix(icons): warn on unresolvable icons, set-aware fallback, sharper errors
  packages/zudoku/scripts/generate-types.ts
  packages/zudoku/src/config/validators/IconSchema.ts
  packages/zudoku/src/config/validators/icon-types.ts
  packages/zudoku/src/lib/MissingIcon.tsx
  packages/zudoku/src/lib/components/ZudokuIcon.test.tsx
  packages/zudoku/src/lib/components/ZudokuIcon.tsx
  packages/zudoku/src/lib/icons.ts
  packages/zudoku/src/vite/plugin-icons.test.ts
  packages/zudoku/src/vite/plugin-icons.ts
Due: biome, oxfmt

fix(icons): correct prod fallback wording in warnings and docs, sync lockfile
  docs/pages/docs/components/icons.mdx
  packages/zudoku/src/vite/plugin-icons.ts
  pnpm-lock.yaml
Due: biome, oxfmt

fix(deps): resolve pnpm audit vulnerabilities
  docs/package.json
  examples/mermaid/package.json
  packages/plugin-search-algolia/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, oxfmt

chore: fix 14 vulnerabilities via pnpm audit
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(plugin-zuplo-monetization): use configured gateway URL for anonymous pricing page requests
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/plugin-zuplo-monetization/src/queries.ts
Due: biome, oxfmt

fix(plugin-zuplo-monetization): use request-scoped ssrAuth for signing decision during SSR
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
Due: biome, oxfmt

feat(openapi): redesign MCP endpoint as a guided, interactive onboarding
  packages/zudoku/src/lib/plugins/openapi/MCPEndpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/McpClientLogos.tsx
Due: biome, oxfmt
