Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

remove
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ManageSubscription.tsx
Due: biome

address feedback
  packages/plugin-zuplo-monetization/src/components/RedirectPage.tsx
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/core/plugins.ts
Due: biome

Add high level button for manage payments (#1945)
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/components/RedirectPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/ManagePaymentPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ManageSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/core/plugins.ts
Due: biome

Filter out inactive keys
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
Due: biome

Add interleaveTagGroups option to OpenAPI plugin
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

Publish plugin
  packages/plugin-zuplo-monetization/package.json
Due: biome

Add Payment failed alert
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/zudoku/src/lib/ui/Button.tsx
Due: biome

Add Payment failed alert (#1948)
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/zudoku/src/lib/ui/Button.tsx
Due: biome

feat(asyncapi): add Phase 1 - core infrastructure and GraphQL schema
  packages/zudoku/package.json
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/lib/asyncapi/parser/index.test.ts
  packages/zudoku/src/lib/asyncapi/parser/index.ts
  packages/zudoku/src/lib/asyncapi/types.ts
  packages/zudoku/src/lib/plugins/asyncapi/__tests__/plugin.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/client/GraphQLClient.tsx
  packages/zudoku/src/lib/plugins/asyncapi/client/GraphQLContext.tsx
  packages/zudoku/src/lib/plugins/asyncapi/client/createServer.ts
  packages/zudoku/src/lib/plugins/asyncapi/context.tsx
  packages/zudoku/src/lib/plugins/asyncapi/index.tsx
  packages/zudoku/src/lib/plugins/asyncapi/interfaces.ts
  pnpm-lock.yaml
Due: biome

feat(asyncapi): add Phase 3 - UI components and routing
  packages/zudoku/src/lib/plugins/asyncapi/AsyncApiProvider.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/asyncapi/client/useCreateQuery.ts
  packages/zudoku/src/lib/plugins/asyncapi/components/MessageView.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/OperationBadge.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/ProtocolBadge.tsx
  packages/zudoku/src/lib/plugins/asyncapi/graphql/queries.ts
  packages/zudoku/src/lib/plugins/asyncapi/index.tsx
  packages/zudoku/src/lib/plugins/asyncapi/util/actionColorMap.ts
  packages/zudoku/src/lib/plugins/asyncapi/util/createNavigationCategory.tsx
  packages/zudoku/src/lib/plugins/asyncapi/util/getRoutes.tsx
  packages/zudoku/src/lib/plugins/asyncapi/util/protocolToColor.ts
Due: biome

fix(asyncapi): deduplicate protocol badges and add oneOf schema support
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/lib/plugins/asyncapi/components/MessageView.tsx
Due: biome

feat(asyncapi): add Phase 4 - Vite plugin for build-time schema processing
  examples/asyncapi-sample/package.json
  examples/asyncapi-sample/zudoku.config.ts
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/types.d.ts
  packages/zudoku/src/vite/asyncapi/AsyncApiSchemaManager.ts
  packages/zudoku/src/vite/asyncapi/schema-codegen.ts
  packages/zudoku/src/vite/plugin-asyncapi.ts
  packages/zudoku/src/vite/plugin.ts
Due: biome

feat(asyncapi): add Phase 2 - parser validation and processors
  packages/zudoku/src/lib/asyncapi/parser/operations.test.ts
  packages/zudoku/src/lib/asyncapi/parser/operations.ts
  packages/zudoku/src/lib/asyncapi/parser/protocol.test.ts
  packages/zudoku/src/lib/asyncapi/parser/protocol.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeChannels.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeChannels.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeExtensions.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeExtensions.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeOperations.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeOperations.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/traverse.ts
Due: biome

fix(asyncapi): handle dereferenced channel refs in operations extraction
  packages/zudoku/src/lib/asyncapi/parser/debug.test.ts
  packages/zudoku/src/lib/asyncapi/parser/integration.test.ts
  packages/zudoku/src/lib/asyncapi/parser/operations.ts
Due: biome

feat(asyncapi): refactor UI to use OpenAPI components and patterns
  examples/asyncapi-sample/zudoku.config.ts
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/lib/plugins/asyncapi/ChannelGroup.tsx
Due: biome

feat(asyncapi): group send/receive operations by channel
  packages/zudoku/src/lib/plugins/asyncapi/ChannelGroup.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/asyncapi/util/createNavigationCategory.tsx
Due: biome

feat(asyncapi): use channel title in navigation and Send/Receive labels
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/lib/plugins/asyncapi/ChannelGroup.tsx
  packages/zudoku/src/lib/plugins/asyncapi/graphql/queries.ts
  packages/zudoku/src/lib/plugins/asyncapi/util/createNavigationCategory.tsx
Due: biome

refactor(asyncapi): use dynamic action labels and remove description
  packages/zudoku/src/lib/plugins/asyncapi/ChannelGroup.tsx
Due: biome

fix(asyncapi): fix navigation showing all tags and operation scrolling
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/lib/asyncapi/parser/index.test.ts
  packages/zudoku/src/lib/asyncapi/parser/index.ts
  packages/zudoku/src/lib/asyncapi/parser/operations.test.ts
  packages/zudoku/src/lib/asyncapi/parser/operations.ts
  packages/zudoku/src/lib/asyncapi/parser/protocol.ts
  packages/zudoku/src/lib/asyncapi/types.ts
  packages/zudoku/src/lib/plugins/asyncapi/AsyncApiProvider.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/asyncapi/__tests__/plugin.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/client/createServer.ts
  packages/zudoku/src/lib/plugins/asyncapi/components/ChannelView.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/MessageView.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/OperationBadge.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/ProtocolBadge.tsx
  packages/zudoku/src/lib/plugins/asyncapi/graphql/queries.ts
  packages/zudoku/src/lib/plugins/asyncapi/index.tsx
  packages/zudoku/src/lib/plugins/asyncapi/interfaces.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeChannels.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeExtensions.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeExtensions.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeOperations.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/traverse.ts
  packages/zudoku/src/lib/plugins/asyncapi/util/actionColorMap.ts
  packages/zudoku/src/lib/plugins/asyncapi/util/createNavigationCategory.tsx
  packages/zudoku/src/lib/plugins/asyncapi/util/getRoutes.tsx
  packages/zudoku/src/lib/plugins/asyncapi/util/protocolToColor.ts
  packages/zudoku/src/vite/asyncapi/schema-codegen.ts
  packages/zudoku/src/vite/plugin-asyncapi.ts
Due: biome

feat(asyncapi): add multi-protocol support and enhance UI components
  examples/asyncapi-sample/multi-protocol.asyncapi.yaml
  examples/asyncapi-sample/zudoku.config.ts
  packages/zudoku/src/lib/asyncapi/graphql/index.ts
  packages/zudoku/src/lib/oas/parser/dereference/resolveRef.ts
  packages/zudoku/src/lib/plugins/asyncapi/ChannelGroup.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/asyncapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/ChannelParametersDisplay.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/HeadersDisplay.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/ProtocolBadge.tsx
  packages/zudoku/src/lib/plugins/asyncapi/components/SecurityDisplay.tsx
  packages/zudoku/src/lib/plugins/asyncapi/graphql/queries.ts
  packages/zudoku/src/lib/plugins/asyncapi/processors/removeExtensions.test.ts
  packages/zudoku/src/lib/plugins/asyncapi/util/protocolToColor.ts
  packages/zudoku/vite.config.ts
  pnpm-lock.yaml
Due: biome, prettier

Apply suggestion from @dan-lee
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome

More Monetization fixes (#1944)
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/components/RedirectPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/ManagePaymentPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ActiveSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ManageSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SubscriptionsList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/ui/Button.tsx
Due: biome

Remove interleaveTagGroups option and always sort alphabetically
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

Fix lint errors in protectedRoutes feature (#1951)
  examples/with-zuplo/docs/zudoku.config.tsx
  packages/zudoku/src/lib/core/RouteGuard.test.tsx
Due: biome

Fix shiki.ts crash in test environment due to missing import.meta.hot.data
  packages/zudoku/src/lib/shiki.ts
Due: biome

Fix test (#1953)
  packages/zudoku/src/lib/shiki.ts
Due: biome

Fix Copilot review issues in protectedRoutes reason code feature
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/lib/components/Bootstrap.tsx
  packages/zudoku/src/lib/core/RouteGuard.test.tsx
  packages/zudoku/src/lib/core/RouteGuard.tsx
Due: biome

Fixes protected routes (#1954)
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/lib/components/Bootstrap.tsx
  packages/zudoku/src/lib/core/RouteGuard.test.tsx
  packages/zudoku/src/lib/core/RouteGuard.tsx
Due: biome

docs: update protectedRoutes documentation for reason codes and navigation blocking
  docs/pages/docs/configuration/authentication.md
  docs/pages/docs/configuration/protected-routes.md
Due: prettier

Better sorting of categories in OpenAPI (#1947)
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/buildTagCategories.ts
Due: biome

Document `protectedRoutes` improvements (#1955)
  docs/pages/docs/configuration/authentication.md
  docs/pages/docs/configuration/protected-routes.md
Due: prettier

Add release workflow for monetization plugin
  .github/workflows/release-monetization.yaml
Due: prettier

address copilot review: restrict to main, add fetch-depth, remove duplicate build
  .github/workflows/release-monetization.yaml
Due: prettier

bump pnpm to 10.29.3
  .tool-versions
  package.json
Due: none

Add release workflow for monetization plugin (#1958)
  .github/workflows/release-monetization.yaml
  .tool-versions
  package.json
Due: prettier

Fix OpenID sign-out redirect (#1863)
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome

Expose all data from OpenID `userInfo` (#1892)
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome

Feature: Allow `protectedRoutes` to send reasons (#1934)
  docs/pages/docs/configuration/authentication.md
  docs/pages/docs/configuration/protected-routes.md
  examples/cosmo-cargo/zudoku.config.tsx
  examples/with-zuplo/docs/zudoku.config.tsx
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/config/validators/ProtectedRoutesSchema.ts
  packages/zudoku/src/lib/components/Bootstrap.tsx
  packages/zudoku/src/lib/components/context/BypassProtectedRoutesContext.ts
  packages/zudoku/src/lib/components/context/RenderContext.ts
  packages/zudoku/src/lib/core/RouteGuard.test.tsx
  packages/zudoku/src/lib/core/RouteGuard.tsx
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/shiki.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/worker.ts
Due: biome, prettier

Stuff
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome

Keep `root` instead of `cwd`
  packages/zudoku/src/vite/plugin-docs.ts
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css}
  prettier: any of: **/*.{md,mdx,yml,yaml,html}
