Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

update superbase auth doc
  docs/pages/docs/configuration/authentication-supabase.md
Due: prettier

Fix code blocks
  docs/pages/docs/configuration/authentication-supabase.md
Due: prettier

Update docs/pages/docs/configuration/authentication-supabase.md
  docs/pages/docs/configuration/authentication-supabase.md
Due: prettier

Update supabase auth docs (#1706)
  docs/pages/docs/configuration/authentication-supabase.md
Due: prettier

Update Biome
  .prettierignore
  biome.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: migrate to rolldown
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-metadata.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
  pnpm-lock.yaml
Due: biome

Adjust min versions
  docs/pages/docs/quickstart.md
  package.json
  packages/zudoku/cli.js
Due: biome, prettier

Update relevant packages
  packages/zudoku/package.json
  packages/zudoku/scripts/generate-types.ts
  pnpm-lock.yaml
Due: biome

Ensure the `pull_request_target` event only runs for external forks, not internal PRs
  .github/workflows/preview-build.yaml
Due: prettier

Erasable syntax only - for the future 🚀
  packages/zudoku/src/lib/authentication/errors.ts
  packages/zudoku/src/lib/plugins/openapi/client/GraphQLClient.tsx
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/tsconfig.app.json
  packages/zudoku/tsconfig.node.json
Due: biome

parallel build
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/plugin-api.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
Due: biome

Update lock 🔓
  pnpm-lock.yaml
Due: none

Don't run parallel
  packages/zudoku/src/vite/build.ts
  pnpm-lock.yaml
Due: biome

Update `rolldown-vite`
  packages/zudoku/package.json
  pnpm-lock.yaml
Due: biome

Update HTML
  .prettierignore
  .vscode/settings.json
  biome.jsonc
  docs/public/demo.html
  packages/zudoku/src/app/demo-cdn.html
Due: biome

Fix consecutive paragraph styles
  packages/zudoku/src/app/main.css
Due: biome

Update packages/zudoku/src/app/main.css
  packages/zudoku/src/app/main.css
Due: biome

Fix consecutive paragraph styles (#1709)
  packages/zudoku/src/app/main.css
Due: biome

Lazy highlighting for large operation lists
  packages/zudoku/src/lib/plugins/openapi/CollapsibleCode.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
  packages/zudoku/src/lib/plugins/openapi/components/NonHighlightedCode.tsx
  packages/zudoku/src/lib/plugins/openapi/components/ResponseContent.tsx
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.ts
  packages/zudoku/src/lib/ui/EmbeddedCodeBlock.tsx
  packages/zudoku/src/vite/plugin-theme.ts
Due: biome

Ensure that required is the correct type before using it
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
Due: biome

Include generateCodeSnippet and supportedLanguages in cosmo-cargo
  examples/cosmo-cargo/src/CodeSnippetGenerator.tsx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
Due: biome

Apply feedback
  packages/zudoku/src/lib/util/flattenAllOf.ts
Due: biome

Rework `allOf` handling in OpenAPI schemas (#1702)
  examples/cosmo-cargo/schema/cargo-containers.json
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/package.json
  packages/zudoku/src/lib/oas/parser/index.ts
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupConnector.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/union-helpers.ts
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.ts
  packages/zudoku/src/lib/util/flattenAllOf.test.ts
  packages/zudoku/src/lib/util/flattenAllOf.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
  pnpm-lock.yaml
Due: biome

Fix example
  examples/cosmo-cargo/schema/shipments.json
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
Due: biome

Update Tooltip and cleanup
  docs/pages/docs/components/syntax-highlight.mdx
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
  packages/zudoku/src/lib/ui/CodeBlock.tsx
  packages/zudoku/src/lib/ui/EmbeddedCodeBlock.tsx
  packages/zudoku/src/lib/ui/Tooltip.tsx
Due: biome, prettier

Reset selected indices on tab switch
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
Due: biome

Lazy highlighting for large operation lists (#1710)
  docs/pages/docs/components/syntax-highlight.mdx
  examples/cosmo-cargo/schema/shipments.json
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/CollapsibleCode.tsx
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
  packages/zudoku/src/lib/plugins/openapi/components/NonHighlightedCode.tsx
  packages/zudoku/src/lib/plugins/openapi/components/ResponseContent.tsx
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.ts
  packages/zudoku/src/lib/ui/CodeBlock.tsx
  packages/zudoku/src/lib/ui/EmbeddedCodeBlock.tsx
  packages/zudoku/src/lib/ui/Tooltip.tsx
  packages/zudoku/src/vite/plugin-theme.ts
Due: biome, prettier

Refactor
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
Due: biome

cleanup
  examples/auth-firebase/zudoku.config.ts
  packages/zudoku/package.json
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/core/RouteGuard.tsx
  packages/zudoku/src/lib/plugins/api-keys/ProtectedRoute.tsx
  packages/zudoku/src/lib/ui/Separator.tsx
  packages/zudoku/src/lib/util/createVariantComponent.tsx
  pnpm-lock.yaml
Due: biome

Zudoku Auth
  examples/auth-firebase/zudoku.config.ts
  examples/auth-supabase/package.json
  examples/auth-supabase/pages/documentation/installation.mdx
  examples/auth-supabase/pages/documentation/introduction.mdx
  examples/auth-supabase/public/logo-dark.svg
  examples/auth-supabase/public/logo-light.svg
  examples/auth-supabase/tsconfig.json
  examples/auth-supabase/zudoku.config.ts
  packages/zudoku/package.json
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Apple.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Facebook.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Github.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Google.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Microsoft.tsx
  packages/zudoku/src/lib/authentication/ui/icons/X.tsx
  pnpm-lock.yaml
Due: biome, prettier

blabla
  examples/auth-firebase/package.json
  examples/auth-firebase/pages/documentation/installation.mdx
  examples/auth-firebase/pages/documentation/introduction.mdx
  examples/auth-firebase/tsconfig.json
  examples/auth-firebase/zudoku.config.ts
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  pnpm-lock.yaml
Due: biome, prettier

variant component
  packages/zudoku/src/lib/util/createVariantComponent.tsx
Due: biome

types
  packages/zudoku/src/config/validators/validate.ts
Due: biome

auth docs
  docs/pages/docs/concepts/auth-provider-api-identities.md
  docs/pages/docs/configuration/authentication-auth0.md
  docs/pages/docs/configuration/authentication-azure-ad.md
  docs/pages/docs/configuration/authentication-clerk.md
  docs/pages/docs/configuration/authentication-firebase.md
  docs/pages/docs/configuration/authentication-firebase.mdx
  docs/pages/docs/configuration/authentication-pingfederate.md
  docs/pages/docs/configuration/authentication-supabase.md
  docs/sidebar.ts
  examples/api-identity-plugin/zudoku.config.ts
  packages/zudoku/src/lib/authentication/authentication.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
Due: biome, prettier

move
  docs/pages/docs/configuration/authentication-firebase.md
Due: prettier

Add issuer
  packages/zudoku/src/lib/auth/issuer.ts
Due: biome

get id token
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
Due: biome

fix call
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css,html}
  prettier: any of: **/*.{md,mdx,yml,yaml}
