Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxfmt

biome:
  run: pnpm biome lint --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

oxfmt:
  run: pnpm fmt {staged_files}
  stage_fixed: true

ci: restrict canary publish to push events only
  .github/workflows/build.yaml
Due: oxfmt

Potential fix for pull request finding
  .github/workflows/preview-build.yaml
Due: oxfmt

ci: drop cloudflare preview deploy, remove pull_request_target
  .github/workflows/preview-build.yaml
Due: oxfmt

docs(api-catalog): clarify role of category label vs tags
  docs/pages/docs/configuration/api-catalog.md
Due: oxfmt

ci: drop unused cosmo-cargo preview deploy (#2435)
  .github/workflows/build.yaml
  .github/workflows/preview-build.yaml
Due: oxfmt

feat(playground): add url-encoded body mode (#2427)
  packages/zudoku/src/lib/plugins/openapi/playground/BodyPanel.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/buildRequestBody.test.ts
  packages/zudoku/src/lib/plugins/openapi/playground/buildRequestBody.ts
  packages/zudoku/src/lib/plugins/openapi/playground/createUrl.test.ts
  packages/zudoku/src/lib/plugins/openapi/playground/request-panel/UrlEncodedField.tsx
  packages/zudoku/src/lib/plugins/openapi/util/formatRequestBody.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/formatRequestBody.ts
Due: biome, oxfmt

perf(cli): lazy-load command modules to slash startup time
  docs/pages/docs/configuration/overview.md
  docs/pages/docs/guides/named-local-urls.md
  docs/sidebar.ts
  packages/zudoku/package.json
  packages/zudoku/scripts/build-cli.ts
  packages/zudoku/src/cli/cli.ts
  packages/zudoku/src/cli/cmds/build.ts
  packages/zudoku/src/cli/common/constants.ts
  packages/zudoku/src/cli/common/output.ts
  packages/zudoku/src/cli/dev/handler.ts
  packages/zudoku/src/cli/preview/handler.ts
Due: biome, oxfmt

fix(cli): keep chunks next to entries so prerender worker URL resolves
  packages/zudoku/scripts/build-cli.ts
Due: biome, oxfmt

feat: default publishMarkdown to true
  docs/pages/docs/configuration/docs.md
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
Due: biome, oxfmt

fix(auth): surface OAuth error details on screen in all environments
  packages/zudoku/src/lib/authentication/components/OAuthErrorPage.tsx
Due: biome, oxfmt

fix(auth): make Auth0 audience truly optional
  docs/pages/docs/configuration/authentication-auth0.md
  packages/zudoku/src/lib/authentication/providers/openid.test.ts
  packages/zudoku/src/lib/authentication/providers/openid.tsx
Due: biome, oxfmt

fix: fall back to shell/curl for unknown snippet language
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.ts
Due: biome, oxfmt

chore: migrate code snippet generation from @zudoku/httpsnippet to @scalar/snippetz
  packages/zudoku/package.json
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.ts
  pnpm-lock.yaml
Due: biome, oxfmt

fix(pricing-ui): adjust grid layout for pricing table
  packages/plugin-zuplo-monetization/src/pricing-ui/PricingTable.tsx
Due: biome, oxfmt

Tighten PricingTable grid sizing and gap
  packages/plugin-zuplo-monetization/src/pricing-ui/PricingTable.tsx
Due: biome, oxfmt

feat: default publishMarkdown to true (#2465)
  docs/pages/docs/configuration/docs.md
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
Due: biome, oxfmt

Tighten PricingTable grid sizing and gap (#2468)
  packages/plugin-zuplo-monetization/src/pricing-ui/PricingTable.tsx
Due: biome, oxfmt

fix: narrow snippet plugin fallback for typecheck
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.ts
Due: biome, oxfmt

feat(openapi): Add config option to override download filename (#2450)
  docs/pages/docs/configuration/api-reference.md
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/vite/api/SchemaManager.test.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome, oxfmt

chore: add .worktreeinclude and consolidate .claude/ gitignore rules (#2447)
  .gitignore
  .worktreeinclude
Due: none

chore: migrate code snippets to @scalar/snippetz (#2452)
  packages/zudoku/package.json
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.ts
  pnpm-lock.yaml
Due: biome, oxfmt

Match PricingPageSkeleton grid to PricingTable
  packages/plugin-zuplo-monetization/src/pages/PricingPageSkeleton.tsx
Due: biome, oxfmt

fix(cli): run finally before exiting + scope port docs to dev
  docs/pages/docs/configuration/overview.md
  packages/zudoku/src/cli/cli.ts
Due: biome, oxfmt

Match PricingPageSkeleton grid to PricingTable (#2476)
  packages/plugin-zuplo-monetization/src/pages/PricingPageSkeleton.tsx
Due: biome, oxfmt

chore(release): @zuplo/zudoku-plugin-monetization v0.0.37 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome, oxfmt

feat(core): draft localization support (refs #1880)
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/validators/ZudokuConfig.ts
  packages/zudoku/src/lib/components/context/useTranslation.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/core/i18n.test.ts
  packages/zudoku/src/lib/core/i18n.ts
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/hooks/index.ts
  packages/zudoku/src/lib/plugins/openapi/DownloadSchemaButton.test.tsx
  packages/zudoku/src/lib/plugins/openapi/DownloadSchemaButton.tsx
  packages/zudoku/src/lib/plugins/openapi/index.tsx
  packages/zudoku/src/lib/plugins/openapi/translations.ts
Due: biome, oxfmt

fix: show placeholder auth header in generated snippets
  examples/cosmo-cargo/schema/label-v3.json
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.ts
Due: biome, oxfmt

feat(i18n): translate core shell + openapi plugin strings
  packages/zudoku/src/lib/components/AiAssistantMenuItems.tsx
  packages/zudoku/src/lib/components/DeveloperHint.tsx
  packages/zudoku/src/lib/components/ErrorPage.tsx
  packages/zudoku/src/lib/components/Mermaid.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/NotFoundPage.tsx
  packages/zudoku/src/lib/components/StatusPage.tsx
  packages/zudoku/src/lib/components/navigation/Navigation.tsx
  packages/zudoku/src/lib/core/i18n.ts
  packages/zudoku/src/lib/plugins/openapi/ApiHeader.tsx
  packages/zudoku/src/lib/plugins/openapi/CollapsibleCode.tsx
  packages/zudoku/src/lib/plugins/openapi/Endpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterList.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaInfo.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaList.tsx
  packages/zudoku/src/lib/plugins/openapi/SecurityRequirements.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
  packages/zudoku/src/lib/plugins/openapi/translations.ts
Due: biome, oxfmt

ci(release-monetization): sync to npm latest + rebase/retry push
  .github/workflows/release-monetization.yaml
Due: oxfmt

feat(i18n): translate api-keys, api-catalog, markdown, search plugins
  packages/zudoku/src/lib/plugins/api-catalog/Catalog.tsx
  packages/zudoku/src/lib/plugins/api-catalog/index.tsx
  packages/zudoku/src/lib/plugins/api-catalog/translations.ts
  packages/zudoku/src/lib/plugins/api-keys/CreateApiKey.tsx
  packages/zudoku/src/lib/plugins/api-keys/CreateApiKeyDialog.tsx
  packages/zudoku/src/lib/plugins/api-keys/SettingsApiKeys.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/ApiKeyItem.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/ApiKeyList.tsx
  packages/zudoku/src/lib/plugins/api-keys/settings/RevealApiKey.tsx
  packages/zudoku/src/lib/plugins/api-keys/translations.ts
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/markdown/index.tsx
  packages/zudoku/src/lib/plugins/markdown/translations.ts
  packages/zudoku/src/lib/plugins/search-pagefind/IndexingDialog.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/PagefindSearch.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/ResultList.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/index.tsx
  packages/zudoku/src/lib/plugins/search-pagefind/translations.ts
Due: biome, oxfmt

ci(release-monetization): re-tag after rebase, abort on conflict
  .github/workflows/release-monetization.yaml
Due: oxfmt

fix: show placeholder auth header in generated snippets (#2478)
  examples/cosmo-cargo/schema/label-v3.json
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/createHttpSnippet.ts
Due: biome, oxfmt

feat(i18n): translate authentication UI + header profile menu
  packages/zudoku/src/lib/authentication/components/OAuthErrorPage.tsx
  packages/zudoku/src/lib/authentication/components/SignIn.tsx
  packages/zudoku/src/lib/authentication/components/SignUp.test.tsx
  packages/zudoku/src/lib/authentication/components/SignUp.tsx
  packages/zudoku/src/lib/authentication/ui/EmailLinkCallbackUi.tsx
  packages/zudoku/src/lib/authentication/ui/EmailLinkSentUi.tsx
  packages/zudoku/src/lib/authentication/ui/EmailLinkSignInUi.tsx
  packages/zudoku/src/lib/authentication/ui/EmailVerificationUi.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/components/Header.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/core/i18n.ts
Due: biome, oxfmt

docs(example): expand cosmo-cargo German overrides
  examples/cosmo-cargo/zudoku.config.tsx
Due: biome, oxfmt

fix(i18n): drop redundant email fallback in EmailLinkSentUi
  packages/zudoku/src/lib/authentication/ui/EmailLinkSentUi.tsx
Due: biome, oxfmt

fix(example): keep search placeholder English in cosmo-cargo de overrides
  examples/cosmo-cargo/zudoku.config.tsx
Due: biome, oxfmt

fix: drop validateSchema for @scalar/openapi-parser 0.28 compat
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome, oxfmt

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css,html}
  oxfmt: any of: **/*.{ts,tsx,json,js,jsx,css,html,md,mdx,yml,yaml}
