Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "**/*.{ts,tsx,json,md,yml,js,jsx,css,html}"
      run: |
        npx prettier --write {staged_files}
        git add {staged_files}
      stage_fixed: true
    eslint:
      glob: "**/*.{ts,tsx,js,jsx,mjs}"
      run: |
        npx eslint --cache --fix {staged_files}
        git add {staged_files}
      stage_fixed: true

Fix link to custom pages (#1380)
  .vscode/settings.json
  docs/pages/docs/configuration/navigation.mdx
Due: prettier

chore(release): publish 0.56.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

router
  packages/zudoku/package.json
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/lib/core/__internal.tsx
  packages/zudoku/src/lib/core/router.ts
  packages/zudoku/vite.config.ts
Due: prettier, eslint

Move internals around
  packages/zudoku/package.json
  packages/zudoku/src/app/demo.tsx
  packages/zudoku/src/app/entry.client.tsx
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/app/standalone.tsx
  packages/zudoku/src/config/validators/ProtectedRoutesSchema.ts
  packages/zudoku/src/lib/components/index.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/core/__internal.tsx
  packages/zudoku/vite.config.ts
Due: prettier, eslint

Move internals around (#1387)
  packages/zudoku/package.json
  packages/zudoku/src/app/demo.tsx
  packages/zudoku/src/app/entry.client.tsx
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/app/standalone.tsx
  packages/zudoku/src/config/validators/ProtectedRoutesSchema.ts
  packages/zudoku/src/lib/components/index.ts
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/core/__internal.tsx
  packages/zudoku/src/lib/core/router.ts
  packages/zudoku/vite.config.ts
Due: prettier, eslint

chore(release): publish 0.57.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

Fix image urls base path (#1376)
  packages/zudoku/src/vite/mdx/remark-inject-filepath.ts
  packages/zudoku/src/vite/mdx/remark-link-rewrite.ts
  packages/zudoku/src/vite/mdx/remark-normalize-image-url.ts
  packages/zudoku/src/vite/mdx/remark-static-generation.ts
  packages/zudoku/src/vite/plugin-mdx.ts
Due: prettier, eslint

Fix `display` config in top navigation
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/vite/plugin-navigation.ts
  pnpm-lock.yaml
Due: prettier, eslint

Fix missing icon
  packages/zudoku/src/vite/plugin-navigation.ts
Due: prettier, eslint

Fix `display` config in top navigation (#1388)
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/vite/plugin-navigation.ts
  pnpm-lock.yaml
Due: prettier, eslint

chore(release): publish 0.57.1 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

Use JS redirect instead of `<meta>`
  packages/zudoku/src/vite/prerender/FileWritingResponse.ts
Due: prettier, eslint

Add smoke test for preview publish
  .github/workflows/preview-build.yaml
Due: none

Feedback
  .github/workflows/preview-build.yaml
Due: none

Add support for `x-displayName`
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/src/lib/plugins/openapi/index.tsx
Due: prettier, eslint

Add support for `x-displayName` (#1396)
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/src/lib/plugins/openapi/index.tsx
Due: prettier, eslint

Extend description in OAS
  examples/cosmo-cargo/schema/shipments.json
Due: prettier

Pass down highlighter instance
  packages/zudoku/src/lib/components/Markdown.tsx
  packages/zudoku/src/lib/shiki.ts
Due: prettier, eslint

Update to latest
  packages/zudoku/package.json
  pnpm-lock.yaml
Due: prettier

Adjust imports
  packages/zudoku/scripts/generate-flat-config.ts
  packages/zudoku/src/app/ZuploBuildConfig.ts
  packages/zudoku/src/app/env.ts
  packages/zudoku/src/config/validators/BuildSchema.ts
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/ProtectedRoutesSchema.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/components/BuildCheck.tsx
  packages/zudoku/src/lib/core/ZudokuContext.ts
Due: prettier, eslint

Format yaml with Prettier and add explainer to contributing.md
  .prettierignore
  .prettierrc
  .vscode/settings.json
  CONTRIBUTING.md
Due: prettier

Add smoke test for preview publish (#1395)
  .github/workflows/preview-build.yaml
Due: none

Fix shiki syntax highlight error (#1398)
  examples/cosmo-cargo/schema/shipments.json
  packages/zudoku/src/lib/components/Markdown.tsx
  packages/zudoku/src/lib/shiki.ts
Due: prettier, eslint

Use JS redirect instead of `<meta>` (#1394)
  packages/zudoku/src/vite/prerender/FileWritingResponse.ts
Due: prettier, eslint

chore(release): publish 0.58.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: prettier

Improve rendering of `anyOf` and `oneOf`
  examples/cosmo-cargo/schema/interplanetary.json
  packages/zudoku/src/lib/plugins/openapi/ParamInfos.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupConnector.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/LogicalGroup/LogicalGroup.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/UnionView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/union-helpers.ts
  packages/zudoku/src/lib/plugins/openapi/schema/utils.ts
Due: prettier, eslint

Biome fixes
  .prettierignore
  .prettierrc
  biome.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

Update package.json
  package.json
Due: none

Update 🔒
  pnpm-lock.yaml
Due: none

Biome fixes (#1411)
  .prettierignore
  .prettierrc
  biome.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

update docs
  docs/pages/docs/concepts/auth-provider-api-identities.md
  docs/pages/docs/guides/managing-api-keys-and-identities.md
  docs/sidebar.tsx
Due: prettier, eslint

update docs (#1413)
  docs/pages/docs/concepts/auth-provider-api-identities.md
  docs/pages/docs/guides/managing-api-keys-and-identities.md
  docs/sidebar.tsx
Due: prettier, eslint

Update managing-api-keys-and-identities.md
  docs/pages/docs/guides/managing-api-keys-and-identities.md
Due: prettier

Update managing-api-keys-and-identities.md (#1414)
  docs/pages/docs/guides/managing-api-keys-and-identities.md
Due: prettier

Improve rendering of `anyOf` and `oneOf` (#1412)
  examples/cosmo-cargo/schema/interplanetary.json
  packages/zudoku/src/lib/plugins/openapi/ParamInfos.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupConnector.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/AllOfGroup/AllOfGroupView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/LogicalGroup/LogicalGroup.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/UnionView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/union-helpers.ts
  packages/zudoku/src/lib/plugins/openapi/schema/utils.ts
Due: prettier, eslint

Secret & Value component
  docs/pages/docs/components/secret.mdx
  docs/sidebar.tsx
  packages/zudoku/src/lib/plugins/api-keys/SettingsApiKeys.tsx
  packages/zudoku/src/lib/ui/Secret.tsx
  packages/zudoku/src/lib/ui/Value.tsx
Due: prettier, eslint
