Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css,html}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{md,mdx,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

firebase-auth (#1712)
  docs/pages/docs/concepts/auth-provider-api-identities.md
  docs/pages/docs/configuration/authentication-auth0.md
  docs/pages/docs/configuration/authentication-azure-ad.md
  docs/pages/docs/configuration/authentication-clerk.md
  docs/pages/docs/configuration/authentication-firebase.md
  docs/pages/docs/configuration/authentication-pingfederate.md
  docs/pages/docs/configuration/authentication-supabase.md
  docs/sidebar.ts
  examples/api-identity-plugin/zudoku.config.ts
  examples/auth-firebase/package.json
  examples/auth-firebase/pages/documentation/installation.mdx
  examples/auth-firebase/pages/documentation/introduction.mdx
  examples/auth-firebase/tsconfig.json
  examples/auth-firebase/zudoku.config.ts
  examples/auth-supabase/package.json
  examples/auth-supabase/pages/documentation/installation.mdx
  examples/auth-supabase/pages/documentation/introduction.mdx
  examples/auth-supabase/public/logo-dark.svg
  examples/auth-supabase/public/logo-light.svg
  examples/auth-supabase/tsconfig.json
  examples/auth-supabase/zudoku.config.ts
  packages/zudoku/package.json
  packages/zudoku/src/config/config.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/auth/issuer.ts
  packages/zudoku/src/lib/authentication/authentication.ts
  packages/zudoku/src/lib/authentication/providers/firebase.tsx
  packages/zudoku/src/lib/authentication/providers/supabase.tsx
  packages/zudoku/src/lib/authentication/ui/ZudokuAuthUi.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Apple.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Facebook.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Github.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Google.tsx
  packages/zudoku/src/lib/authentication/ui/icons/Microsoft.tsx
  packages/zudoku/src/lib/authentication/ui/icons/X.tsx
  packages/zudoku/src/lib/core/RouteGuard.tsx
  packages/zudoku/src/lib/plugins/api-keys/ProtectedRoute.tsx
  packages/zudoku/src/lib/ui/Separator.tsx
  packages/zudoku/src/lib/util/createVariantComponent.tsx
  pnpm-lock.yaml
Due: biome, prettier

chore(release): publish 0.64.2 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Fix grid
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

Fix type
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
Due: biome

Add multipart form and file upload support (#1707)
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/lib/components/Autocomplete.tsx
  packages/zudoku/src/lib/errors/ErrorAlert.tsx
  packages/zudoku/src/lib/errors/RouterError.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/BodyPanel.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/CollapsibleHeader.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/ExamplesDropdown.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/Headers.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/InlineInput.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/ParamsGrid.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/PathParams.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/Playground.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/QueryParams.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/request-panel/MultipartField.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/request-panel/UrlQueryParams.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/request-panel/fieldManager/useKeyValueFieldManager.test.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/request-panel/useKeyValueFieldManager.ts
  packages/zudoku/src/lib/plugins/openapi/playground/result-panel/ResponseTab.tsx
  packages/zudoku/src/lib/ui/Button.tsx
  packages/zudoku/src/lib/ui/Checkbox.tsx
  packages/zudoku/vitest.config.ts
Due: biome

update zudoku/project.json
  packages/zudoku/project.json
Due: biome

Don't use let and return early
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
Due: biome

Generate custom code examples (#1642)
  examples/cosmo-cargo/src/CodeSnippetGenerator.tsx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

Improve OpenAPI docs UI
  examples/cosmo-cargo/schema/shipments.json
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/components/Layout.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterList.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
  packages/zudoku/src/lib/plugins/openapi/components/ConstValue.tsx
  packages/zudoku/src/lib/plugins/openapi/components/EnumValues.tsx
  packages/zudoku/src/lib/plugins/openapi/components/ResponseContent.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/PlaygroundDialog.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaExampleAndDefault.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/UnionView.tsx
  packages/zudoku/src/lib/ui/Badge.tsx
  packages/zudoku/src/lib/ui/CodeBlock.tsx
  packages/zudoku/src/lib/ui/Collapsible.tsx
  packages/zudoku/src/lib/ui/EmbeddedCodeBlock.tsx
  packages/zudoku/src/lib/ui/Frame.tsx
  packages/zudoku/src/lib/ui/Item.tsx
  packages/zudoku/src/lib/ui/NativeSelect.tsx
  packages/zudoku/src/lib/ui/Select.tsx
Due: biome

Apply feedback
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/PlaygroundDialog.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
Due: biome

Simplify and remove unnecessary test
  .vscode/settings.json
  packages/zudoku/src/vite/mdx/remark-last-modified.test.ts
  packages/zudoku/src/vite/mdx/remark-last-modified.ts
Due: biome

Test `%cI`
  packages/zudoku/src/vite/mdx/remark-last-modified.ts
Due: biome

Add shallow clone warning
  packages/zudoku/src/vite/mdx/remark-last-modified.ts
Due: biome

Update docs
  docs/pages/docs/deploy/cloudflare-pages.md
  docs/pages/docs/deploy/github-pages.md
  docs/pages/docs/deploy/vercel.md
  docs/pages/docs/markdown/frontmatter.md
Due: prettier

Prefer git commit time over mtime for `lastModifiedTime` (#1716)
  .vscode/settings.json
  docs/pages/docs/deploy/cloudflare-pages.md
  docs/pages/docs/deploy/github-pages.md
  docs/pages/docs/deploy/vercel.md
  docs/pages/docs/markdown/frontmatter.md
  packages/zudoku/src/vite/mdx/remark-last-modified.ts
Due: biome, prettier

Improve OpenAPI docs UI (#1718)
  examples/cosmo-cargo/schema/shipments.json
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/components/Layout.tsx
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/plugins/openapi/GeneratedExampleSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterList.tsx
  packages/zudoku/src/lib/plugins/openapi/ParameterListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/RequestBodySidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/Sidecar.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/SidecarExamples.tsx
  packages/zudoku/src/lib/plugins/openapi/components/ConstValue.tsx
  packages/zudoku/src/lib/plugins/openapi/components/EnumValues.tsx
  packages/zudoku/src/lib/plugins/openapi/components/ResponseContent.tsx
  packages/zudoku/src/lib/plugins/openapi/playground/PlaygroundDialog.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaExampleAndDefault.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/UnionView.tsx
  packages/zudoku/src/lib/ui/Badge.tsx
  packages/zudoku/src/lib/ui/CodeBlock.tsx
  packages/zudoku/src/lib/ui/Collapsible.tsx
  packages/zudoku/src/lib/ui/EmbeddedCodeBlock.tsx
  packages/zudoku/src/lib/ui/Frame.tsx
  packages/zudoku/src/lib/ui/Item.tsx
  packages/zudoku/src/lib/ui/NativeSelect.tsx
  packages/zudoku/src/lib/ui/Select.tsx
Due: biome

Small style fixes
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
Due: biome

Adjustments
  package.json
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/util/readFrontmatter.ts
  packages/zudoku/src/lib/util/yamlEngine.test.ts
  packages/zudoku/src/lib/util/yamlEngine.ts
  packages/zudoku/src/vite/plugin-frontmatter.ts
  packages/zudoku/src/vite/plugin-markdown-export.ts
  pnpm-lock.yaml
Due: biome

Add configurable prompt parameter for Auth0 provider (#1715)
  docs/pages/docs/configuration/authentication-auth0.md
  packages/zudoku/src/config/validators/validate.test.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
Due: biome, prettier

chore: migrate to rolldown
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-metadata.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
  pnpm-lock.yaml
Due: biome

Adjust min versions
  docs/pages/docs/quickstart.md
  package.json
  packages/zudoku/cli.js
Due: biome, prettier

Erasable syntax only - for the future 🚀
  packages/zudoku/src/lib/authentication/errors.ts
  packages/zudoku/src/lib/plugins/openapi/client/GraphQLClient.tsx
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/tsconfig.app.json
  packages/zudoku/tsconfig.node.json
Due: biome

Ensure the `pull_request_target` event only runs for external forks, not internal PRs
  .github/workflows/preview-build.yaml
Due: prettier

parallel build
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/plugin-api.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
Due: biome

Update lock 🔓
  pnpm-lock.yaml
Due: none

Update relevant packages
  packages/zudoku/package.json
  packages/zudoku/scripts/generate-types.ts
  pnpm-lock.yaml
Due: biome

Don't run parallel
  packages/zudoku/src/vite/build.ts
  pnpm-lock.yaml
Due: biome

Update `rolldown-vite`
  packages/zudoku/package.json
  pnpm-lock.yaml
Due: biome

Update Biome
  .prettierignore
  biome.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

Update HTML
  .prettierignore
  .vscode/settings.json
  biome.jsonc
  docs/public/demo.html
  packages/zudoku/src/app/demo-cdn.html
Due: biome

Updates
  biome.jsonc
  package.json
  packages/zudoku/src/app/main.css
  pnpm-lock.yaml
Due: biome

add generate to cli, init examples as subcommand, add generate to with-openapi-json for debug
  examples/with-openapi-json/package.json
  packages/zudoku/src/cli/cli.ts
  packages/zudoku/src/cli/cmds/generate.ts
Due: biome

Small style fixes (#1728)
  packages/zudoku/src/lib/plugins/openapi/ResponsesSidecarBox.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
Due: biome

move handlers to unified folder, parse JSON and get paths without explicit examples
  examples/with-openapi-json/openapi.json
  packages/zudoku/src/cli/cmds/build.ts
  packages/zudoku/src/cli/cmds/dev.ts
  packages/zudoku/src/cli/cmds/generate.ts
  packages/zudoku/src/cli/cmds/preview.ts
  packages/zudoku/src/cli/handlers/build.ts
  packages/zudoku/src/cli/handlers/dev.ts
  packages/zudoku/src/cli/handlers/generate-examples.ts
  packages/zudoku/src/cli/handlers/preview.ts
Due: biome

poc
  examples/cosmo-cargo/pages/api-shipments/authorization.md
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/NavigationPlugin.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
Due: biome, prettier

Design improvement style fixes
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
Due: biome

Add client-side Mermaid component
  docs/pages/docs/components/mermaid.mdx
  docs/pages/docs/guides/mermaid.mdx
  docs/sidebar.ts
  examples/mermaid/package.json
  examples/mermaid/pages/build-time.mdx
  examples/mermaid/pages/client-side.mdx
  examples/mermaid/pages/index.mdx
  examples/mermaid/pages/mermaid.mdx
  examples/mermaid/zudoku.config.tsx
  packages/zudoku/package.json
  packages/zudoku/src/lib/components/Mermaid.tsx
  packages/zudoku/src/lib/util/MdxComponents.tsx
  packages/zudoku/vite.config.ts
  pnpm-lock.yaml
Due: biome, prettier

Fix link checker
  .github/workflows/build.yaml
  docs/package.json
Due: biome, prettier

get paths with no examples in responses as well
  packages/zudoku/src/cli/handlers/generate-examples.ts
Due: biome

Add component to filter content for opensource/zuplo specific docs
  docs/pages/docs/markdown/frontmatter.md
  docs/src/components/ConditionalContent.tsx
  docs/zudoku.config.tsx
Due: biome, prettier
