Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{md,mdx,yml,yaml,html}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Update lock 🔓
  pnpm-lock.yaml
Due: none

Don't run parallel
  packages/zudoku/src/vite/build.ts
  pnpm-lock.yaml
Due: biome

Vite 8 Beta
  packages/zudoku/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

Fix version check crash when react not in node_modules
  packages/zudoku/src/cli/common/version-check.ts
Due: biome

Prefix release identifier
  .github/workflows/main.yaml
Due: prettier

Add missing API option docs
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Add custom code snippet section
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Formatting
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Enable plugins to wrap app with context providers
  docs/pages/docs/custom-plugins.md
  packages/zudoku/src/lib/components/Zudoku.tsx
  packages/zudoku/src/lib/components/context/PluginProviders.tsx
  packages/zudoku/src/lib/core/plugins.ts
Due: biome, prettier

Apply feedback
  packages/zudoku/src/lib/core/plugins.ts
Due: biome

Implement SSR
  examples/with-config/package.json
  packages/zudoku/package.json
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/cli/build/handler.ts
  packages/zudoku/src/cli/cmds/build.ts
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/error-handler.ts
  packages/zudoku/src/vite/pagefind-dev-index.ts
  packages/zudoku/src/vite/prerender/FileWritingResponse.ts
  packages/zudoku/src/vite/prerender/InMemoryResponse.ts
  packages/zudoku/src/vite/prerender/PrerenderResponse.ts
  packages/zudoku/src/vite/prerender/worker.ts
  packages/zudoku/src/vite/ssr-templates/cloudflare.ts
  packages/zudoku/src/vite/ssr-templates/node.ts
  packages/zudoku/src/vite/ssr-templates/vercel.ts
  pnpm-lock.yaml
Due: biome

Add version config support for file-based API schemas
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome

Fix
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

Fix dev
  packages/zudoku/src/vite/dev-server.ts
Due: biome

Build
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/output.ts
Due: biome

Feedback
  docs/pages/docs/configuration/api-reference.md
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
  packages/zudoku/src/vite/api/SchemaManager.test.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, prettier

Pass downloadUrl
  packages/zudoku/src/lib/plugins/openapi/OasProvider.tsx
Due: biome

Add recipe for wrapping routes with context
  docs/pages/docs/custom-plugins.md
  packages/zudoku/src/vite/error-handler.ts
Due: biome, prettier

Update Pagefind (#1870)
  .github/workflows/main.yaml
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/cli/common/version-check.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

Add recipe for wrapping routes with context (#1878)
  docs/pages/docs/custom-plugins.md
  packages/zudoku/src/vite/error-handler.ts
Due: biome, prettier

Apply feedback
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/vite/api/SchemaManager.test.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
Due: biome

Handle layout recursively on routes
  packages/zudoku/src/app/main.tsx
Due: biome

import
  packages/zudoku/src/lib/plugins/zuplo-monetization/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/ZuploMonetizationWrapper.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/components/FeatureItem.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/components/QuotaItem.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/hooks/usePlans.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/hooks/useSubscriptions.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/hooks/useUrlUtils.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/index.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/CheckoutConfimPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/CheckoutFailedPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/CheckoutPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/PricingPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/SubscriptionsPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/subscriptions/ApiKey.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/subscriptions/ApiKeysList.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/subscriptions/SubscriptionsList.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/subscriptions/Usage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/types/PlanType.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/utils/categorizeRateCards.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/utils/formatDuration.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/utils/getPriceFromPlan.ts
Due: biome

build
  packages/zudoku/package.json
  packages/zudoku/vite.config.ts
Due: biome

integrate
  packages/zudoku/package.json
  packages/zudoku/src/lib/plugins/zuplo-monetization/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/ZuploMonetizationWrapper.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/hooks/usePlans.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/hooks/useSubscriptions.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/CheckoutConfimPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/CheckoutPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/PricingPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/pages/SubscriptionsPage.tsx
  packages/zudoku/src/lib/plugins/zuplo-monetization/utils/categorizeRateCards.ts
  packages/zudoku/src/lib/plugins/zuplo-monetization/utils/getPriceFromPlan.ts
  pnpm-lock.yaml
Due: biome

Add `transformConfig` plugin hook
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/lib/core/hooks.ts
  packages/zudoku/src/lib/core/plugins.ts
Due: biome

add example
  examples/with-zuplo/docs/zudoku.config.tsx
Due: biome

Add docs
  docs/pages/docs/custom-plugins.md
Due: prettier

Add version config support for file-based API schemas (#1882)
  docs/pages/docs/configuration/api-reference.md
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/lib/plugins/openapi/OasProvider.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/interfaces.ts
  packages/zudoku/src/lib/plugins/openapi/util/getRoutes.tsx
  packages/zudoku/src/vite/api/SchemaManager.test.ts
  packages/zudoku/src/vite/api/SchemaManager.ts
  packages/zudoku/src/vite/plugin-api.ts
Due: biome, prettier

chore(release): publish 0.67.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Clarify licensing terms in LICENSE.md
  LICENSE.md
Due: none

Use deepmerge
  docs/pages/docs/custom-plugins.md
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/lib/core/hooks.ts
  packages/zudoku/src/lib/core/transform-config.ts
  pnpm-lock.yaml
Due: biome, prettier

Sneak in docs
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/deploy/apache-nginx.md
Due: prettier

Update pnpm
  package.json
Due: none

Add missing API option docs (#1877)
  docs/pages/docs/configuration/api-reference.md
Due: prettier

Update
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/core/transform-config.ts
Due: biome

Add `transformConfig` plugin hook (#1886)
  docs/pages/docs/configuration/navigation.mdx
  docs/pages/docs/custom-plugins.md
  docs/pages/docs/deploy/apache-nginx.md
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/core/transform-config.ts
  pnpm-lock.yaml
Due: biome, prettier

feat: add HTML support in markdown tables via rehype-raw
  packages/zudoku/src/vite/plugin-mdx.ts
Due: biome

Fix false circular ref detection for shared schema objects
  packages/zudoku/src/lib/oas/graphql/circular.test.ts
  packages/zudoku/src/lib/oas/graphql/circular.ts
Due: biome
