Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Singleton Zudoku context
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/context/ZudokuProvider.tsx
  packages/zudoku/src/lib/components/context/ZudokuReactContext.tsx
Due: biome

Use client only
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
Due: biome

Lock
  pnpm-lock.yaml
Due: none

new version
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SubscriptionsList.tsx
  packages/plugin-zuplo-monetization/src/utils/formatDuration.ts
Due: biome

warn user before roll & delete
  packages/plugin-zuplo-monetization/src/hooks/useSubscriptions.ts
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfimPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKey.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ConfirmDeleteKeyAlert.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ConfirmRollKeyAlert.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome

Allow plugins to set their tailwind sources via `createPlugin`
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/config/create-plugin.ts
  packages/zudoku/src/config/validators/validate.ts
  packages/zudoku/src/index.ts
  packages/zudoku/src/vite/plugin-theme.ts
Due: biome

implement overage
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SubscriptionsList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome

Fixes
  packages/plugin-zuplo-monetization/package.json
  packages/zudoku/src/lib/components/Zudoku.tsx
  pnpm-workspace.yaml
Due: biome

Get caller dir dynamically
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/config/create-plugin.ts
Due: biome

make it strict and fix
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
  packages/plugin-zuplo-monetization/tsconfig.json
Due: biome

use new api
  packages/plugin-zuplo-monetization/package.json
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/plugin-zuplo-monetization/src/index.ts
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
Due: biome

fix checkout
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/Usage.tsx
Due: biome

get from environemnt
  examples/zuplo-monetization/docs/.env.local
  examples/zuplo-monetization/docs/zudoku.config.tsx
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfimPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/config/create-plugin.ts
  packages/zudoku/src/lib/components/Slot.test.tsx
  packages/zudoku/src/lib/components/Zudoku.tsx
  packages/zudoku/src/lib/core/ZudokuContext.ts
  packages/zudoku/src/lib/hooks/useEvent.test.tsx
  packages/zudoku/src/vite/config.ts
Due: biome

fix auth header
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
Due: biome

new version
  packages/plugin-zuplo-monetization/package.json
Due: biome

Run `transformConfig` on client as well
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/zudoku/src/config/create-plugin.ts
  packages/zudoku/src/lib/core/__internal.tsx
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/core/transform-config.ts
  packages/zudoku/src/vite/plugin-config.ts
Due: biome

Run transform config everywhere
  packages/zudoku/src/lib/core/transform-config.ts
  packages/zudoku/src/vite/prerender/prerender.ts
  packages/zudoku/src/vite/prerender/worker.ts
Due: biome

`transformConfig` adjustments
  docs/pages/docs/custom-plugins.md
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/zudoku/package.json
  packages/zudoku/src/config/create-plugin.ts
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/index.ts
  packages/zudoku/src/lib/core/__internal.tsx
  packages/zudoku/src/lib/core/plugins.ts
  packages/zudoku/src/lib/core/transform-config.test.tsx
  packages/zudoku/src/lib/core/transform-config.ts
  packages/zudoku/src/shiki/langs/c3.js
  packages/zudoku/src/shiki/langs/gn.js
  packages/zudoku/src/shiki/langs/moonbit.js
  packages/zudoku/src/vite/plugin-config.ts
  pnpm-lock.yaml
Due: biome, prettier

feat: Migrate from react-helmet-async to @unhead/react
  docs/pages/docs/components/head.mdx
  packages/zudoku/package.json
  packages/zudoku/src/app/entry.server.tsx
  packages/zudoku/src/lib/components/Bootstrap.tsx
  packages/zudoku/src/lib/components/Meta.tsx
  packages/zudoku/src/lib/components/Zudoku.tsx
  packages/zudoku/src/lib/components/index.ts
  packages/zudoku/src/lib/core/RouteGuard.tsx
  packages/zudoku/src/lib/core/__internal.tsx
  packages/zudoku/src/lib/plugins/api-catalog/Catalog.tsx
  packages/zudoku/src/lib/plugins/markdown/MdxPage.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
  packages/zudoku/src/lib/plugins/openapi/SchemaList.tsx
  pnpm-lock.yaml
Due: biome, prettier

Update lock
  pnpm-lock.yaml
Due: none

manage subscription
  AGENT.md
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/CancelSubscriptionDialog.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ManageSubscription.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SubscriptionsList.tsx
  packages/zudoku/src/app/defaultTheme.css
  packages/zudoku/src/app/main.css
  packages/zudoku/src/lib/ui/Alert.tsx
Due: biome

refactor
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
  packages/plugin-zuplo-monetization/src/hooks/useDeploymentName.ts
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.tsx
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
Due: biome

oopsies
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
Due: biome

fix feedback
  packages/plugin-zuplo-monetization/src/ZuploMonetizationPlugin.tsx
Due: biome

fix typo
  packages/plugin-zuplo-monetization/src/pages/CheckoutConfirmPage.tsx
Due: biome

fixes
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ApiKeysList.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ConfirmRollKeyAlert.tsx
Due: biome

feini
  packages/plugin-zuplo-monetization/src/hooks/useSubscriptions.ts
  packages/plugin-zuplo-monetization/src/pages/CheckoutPage.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/SubscriptionsPage.tsx
  packages/plugin-zuplo-monetization/src/pages/subscriptions/ManageSubscription.tsx
Due: biome

Add `at` property for positioning navigation items
  docs/pages/docs/configuration/navigation.mdx
  examples/cosmo-cargo/pages/api-shipments/getting-started.mdx
  examples/cosmo-cargo/zudoku.config.tsx
  packages/zudoku/src/config/validators/InputNavigationSchema.ts
  packages/zudoku/src/config/validators/NavigationSchema.ts
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
  packages/zudoku/src/lib/components/TopNavigation.tsx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/components/navigation/NavigationItem.tsx
  packages/zudoku/src/lib/components/navigation/NavigationWrapper.tsx
  packages/zudoku/src/lib/components/navigation/utils.ts
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
  packages/zudoku/src/lib/navigation/positionItems.test.ts
  packages/zudoku/src/lib/navigation/positionItems.ts
  packages/zudoku/src/lib/plugins/openapi/OperationList.tsx
Due: biome, prettier

Apply feedback
  docs/pages/docs/configuration/navigation.mdx
  packages/zudoku/src/lib/components/context/ZudokuContext.ts
  packages/zudoku/src/lib/navigation/pathMatcher.test.ts
  packages/zudoku/src/lib/navigation/pathMatcher.ts
Due: biome, prettier

don't return items if label doesn't match
  packages/zudoku/src/lib/navigation/positionItems.ts
Due: biome

chore: migrate to rolldown
  packages/zudoku/package.json
  packages/zudoku/src/config/loader.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/plugin-metadata.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
  pnpm-lock.yaml
Due: biome

Ensure the `pull_request_target` event only runs for external forks, not internal PRs
  .github/workflows/preview-build.yaml
Due: prettier

Erasable syntax only - for the future 🚀
  packages/zudoku/src/lib/authentication/errors.ts
  packages/zudoku/src/lib/plugins/openapi/client/GraphQLClient.tsx
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/tsconfig.app.json
  packages/zudoku/tsconfig.node.json
Due: biome

Adjust min versions
  docs/pages/docs/quickstart.md
  package.json
  packages/zudoku/cli.js
Due: biome, prettier

Update relevant packages
  packages/zudoku/package.json
  packages/zudoku/scripts/generate-types.ts
  pnpm-lock.yaml
Due: biome

parallel build
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  packages/zudoku/src/vite/plugin-api.ts
  packages/zudoku/src/vite/plugin-theme.test.ts
Due: biome

Don't run parallel
  packages/zudoku/src/vite/build.ts
  pnpm-lock.yaml
Due: biome

Update lock 🔓
  pnpm-lock.yaml
Due: none

Update `vite@8`
  packages/zudoku/package.json
  packages/zudoku/src/vite/build.ts
  packages/zudoku/src/vite/config.ts
  packages/zudoku/src/vite/dev-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,json,js,jsx,css}
  prettier: any of: **/*.{md,mdx,yml,yaml,html}
