Repository zuplo/zudoku: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

# This is the lefthook configuration that replaces husky + lint-staged

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "**/*.{ts,tsx,json,js,jsx,css}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{md,mdx,yml,yaml,html}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

add groupBy polyfill
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/app/polyfills.ts
Due: biome

use file based openapi specs
  examples/api-identity-plugin/openapi.json
  examples/api-identity-plugin/zudoku.config.ts
  examples/auth-firebase/openapi.json
  examples/auth-firebase/zudoku.config.ts
  examples/auth-supabase/openapi.json
  examples/auth-supabase/zudoku.config.ts
  examples/with-auth0/openapi.json
  examples/with-auth0/zudoku.config.tsx
  examples/with-config/openapi.json
  examples/with-config/zudoku.config.ts
  examples/with-vite-config/openapi.json
  examples/with-vite-config/zudoku.config.ts
Due: biome

Replace hardcoded plan popularity checks with metadata-based approach
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
  packages/plugin-zuplo-monetization/src/pages/pricing/PricingCard.tsx
Due: biome

Add tests for metadata-based plan popularity
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
Due: biome

chore(release): publish 0.69.0 [skip ci]
  packages/create-zudoku/package.json
  packages/zudoku/package.json
Due: biome

Change metadata field from isPopular to isMostPopular
  packages/plugin-zuplo-monetization/src/pages/PricingPage.test.tsx
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
Due: biome

Package updates and cleanup (#2021)
  examples/api-identity-plugin/openapi.json
  examples/api-identity-plugin/zudoku.config.ts
  examples/auth-firebase/openapi.json
  examples/auth-firebase/zudoku.config.ts
  examples/auth-supabase/openapi.json
  examples/auth-supabase/zudoku.config.ts
  examples/with-auth0/openapi.json
  examples/with-auth0/zudoku.config.tsx
  examples/with-config/openapi.json
  examples/with-config/package.json
  examples/with-config/zudoku.config.ts
  examples/with-vite-config/openapi.json
  examples/with-vite-config/zudoku.config.ts
  package.json
  packages/zudoku/package.json
  packages/zudoku/src/app/App.tsx
  packages/zudoku/src/app/main.tsx
  packages/zudoku/src/app/polyfills.ts
  packages/zudoku/src/config/validators/icon-types.ts
  packages/zudoku/src/lib/authentication/use-broadcast/LICENSE.md
  packages/zudoku/src/lib/authentication/use-broadcast/shared.ts
  packages/zudoku/src/lib/authentication/use-broadcast/useBroadcast.ts
  packages/zudoku/src/lib/components/Search.tsx
  packages/zudoku/src/lib/plugins/openapi/OperationListItem.tsx
  packages/zudoku/src/lib/plugins/openapi/StaggeredRender.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaView.tsx
  packages/zudoku/src/lib/util/detectOS.ts
  packages/zudoku/src/lib/util/groupBy.ts
  packages/zudoku/src/lib/util/joinPath.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

Keep biome codeActionsOnSave for unused import removal
  .vscode/settings.json
Due: biome

Add ruler
  .vscode/settings.json
Due: biome

Update lefthook
  package.json
  pnpm-lock.yaml
Due: none

Use lint only
  package.json
Due: none

Update lefthook.yml
  lefthook.yml
Due: none

update lock
  pnpm-lock.yaml
Due: none

Improve generateSchemaExample with missing schema features
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.ts
Due: biome

Use smaller offset for exclusive bounds on float/number types
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.ts
Due: biome

fix: share schemaImports across all openApiPlugin instances
  packages/zudoku/src/lib/plugins/openapi/client/GraphQLClient.tsx
Due: biome

Improve generateSchemaExample with missing schema features (#2020)
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.test.ts
  packages/zudoku/src/lib/plugins/openapi/util/generateSchemaExample.ts
Due: biome

Add env for zuplo gateway url
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/vite/config.ts
Due: biome

feat: redirect to Stripe checkout for free plan upgrades
  packages/plugin-zuplo-monetization/src/pages/subscriptions/SwitchPlanModal.tsx
Due: biome

Use joinUrl
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
Due: biome

Use context.env for ZUPLO_GATEWAY_SERVICE_URL instead of process.env (#2033)
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/vite/config.ts
Due: biome

Add env for zuplo gateway url (#2023)
  packages/plugin-zuplo-monetization/src/ZuploMonetizationWrapper.tsx
  packages/zudoku/src/lib/plugins/api-keys/index.tsx
  packages/zudoku/src/vite/config.ts
Due: biome

chore(release): @zuplo/zudoku-plugin-monetization v0.0.14 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome

feat: add CodeTabs component for tabbed code blocks in MDX
  docs/pages/docs/components/code-tabs.mdx
  docs/sidebar.ts
  docs/src/ThemeEditor.tsx
  packages/zudoku/src/app/main.css
  packages/zudoku/src/lib/assets/language-icons/bun.tsx
  packages/zudoku/src/lib/assets/language-icons/npm.tsx
  packages/zudoku/src/lib/assets/language-icons/pnpm.tsx
  packages/zudoku/src/lib/assets/language-icons/yarn.tsx
  packages/zudoku/src/lib/components/LanguageIcon.tsx
  packages/zudoku/src/lib/shiki.ts
  packages/zudoku/src/lib/ui/CodeBlock.tsx
  packages/zudoku/src/lib/ui/CodeTabs.tsx
  packages/zudoku/src/lib/ui/SyntaxHighlight.tsx
  packages/zudoku/src/lib/util/MdxComponents.tsx
  packages/zudoku/src/vite/mdx/remark-code-tabs.ts
  packages/zudoku/src/vite/plugin-mdx.ts
Due: biome, prettier

Fix code blocks rendering
  packages/zudoku/src/lib/components/InlineCode.tsx
  packages/zudoku/src/lib/components/navigation/Toc.tsx
  packages/zudoku/src/lib/plugins/openapi/Endpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/ParamInfos.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/util/hastToJsx.tsx
Due: biome

Fix code blocks rendering (#2045)
  packages/zudoku/src/lib/components/InlineCode.tsx
  packages/zudoku/src/lib/components/navigation/Toc.tsx
  packages/zudoku/src/lib/plugins/openapi/Endpoint.tsx
  packages/zudoku/src/lib/plugins/openapi/ParamInfos.tsx
  packages/zudoku/src/lib/plugins/openapi/schema/SchemaPropertyItem.tsx
  packages/zudoku/src/lib/util/hastToJsx.tsx
Due: biome

Fix mobile auth redirect loop and Auth0 logout error
  packages/zudoku/src/lib/authentication/components/SignIn.tsx
  packages/zudoku/src/lib/authentication/components/SignUp.tsx
  packages/zudoku/src/lib/authentication/providers/auth0.tsx
  packages/zudoku/src/lib/components/MobileTopNavigation.tsx
Due: biome

Read redirect param from URL in SignUp like SignIn does
  packages/zudoku/src/lib/authentication/components/SignUp.tsx
Due: biome

Remove 4-plan limit from pricing page
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
Due: biome

Use pnpm for publish
  .github/workflows/release-monetization.yaml
Due: prettier

Remove 4-plan limit from pricing page (#2047)
  packages/plugin-zuplo-monetization/src/pages/PricingPage.tsx
Due: biome

Use pnpm for publish (#2048)
  .github/workflows/release-monetization.yaml
Due: prettier

Fix monetization publish failing on unclean working tree
  .github/workflows/release-monetization.yaml
Due: prettier

Fix monetization publish failing on unclean working tree (#2049)
  .github/workflows/release-monetization.yaml
Due: prettier

chore(release): @zuplo/zudoku-plugin-monetization v0.0.15 [skip ci]
  packages/plugin-zuplo-monetization/package.json
Due: biome
